@font-face {
	font-family: "icon";
	src: url('fonts/icons/icon.eot');
	src: url('fonts/icons/icon.eot?#iefix') format('eot'),
		url('fonts/icons/icon.woff2') format('woff2'),
		url('fonts/icons/icon.woff') format('woff'),
		url('fonts/icons/icon.ttf') format('truetype'),
		url('fonts/icons/icon.svg#icon') format('svg');
}

.icon:before {
	font-family: "icon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-administrative-building:before {
	content: "\E001";
}

.icon-cart:before {
	content: "\E002";
}

.icon-download:before {
	content: "\E003";
}

.icon-form:before {
	content: "\E004";
}

.icon-group:before {
	content: "\E005";
}

.icon-hospital:before {
	content: "\E006";
}

.icon-hostel:before {
	content: "\E007";
}

.icon-mail:before {
	content: "\E008";
}

.icon-money:before {
	content: "\E009";
}

.icon-moutain-activity:before {
	content: "\E00A";
}

.icon-person:before {
	content: "\E00B";
}

.icon-pharmacy:before {
	content: "\E00C";
}

.icon-phone:before {
	content: "\E00D";
}

.icon-restaurant:before {
	content: "\E00E";
}

.icon-school:before {
	content: "\E00F";
}

.icon-send:before {
	content: "\E010";
}

.icon-shop:before {
	content: "\E011";
}

.icon-train:before {
	content: "\E012";
}

.icon-university:before {
	content: "\E013";
}

.icon-upload:before {
	content: "\E014";
}
