<div class="wrapper">
    <section id="meo-block">
        <span>code & design by <a target="_blank" href="http://meomeo.ch/" title="meo design et communication">M|E|O design & communication</a></span>
    </section>
    <section  id="compagny">
        <img src="{{ template_path_uri }}/images/orllati_logo.png">
        <span>
            <strong>Orllati Realestate SA</strong>
            <br/>
            Route de Bettens 13
            <br/>
            1042 Bioley-Orjulaz
        </span>
    </section>
</div>