<nav class="minified">
    <ul class="wrapper">
        {% for menu in menus %}
            {% set current_menu = (menu.object_id == post.id ) ? 'active' : '' %}
            <li class="{{ current_menu }}">
                <a href="{{ menu.url }}" title="{{ menu.title }}">
                    {{ menu.title }}
                </a>
                {% if menu.childs is defined %}
                    <ul>
                    {% for child in menu.childs %}
                        <li>
                            <a href="{{ child.url }}" title="{{ child.title }}">
                                {{ child.title }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>