<section class="page-contact">
    <h1>Commercialisation</h1>
    <div class="wrap-content-full-width">
        <div class="wrap-content-full-width">
            <div class="flex-col col-33">
                <div class="wrap-content-full-width contact-people">
                    <div class="flex-col col-66">
                        <div class="contact-logo"><img style="max-width: 270px !important; width: 66% !important;" src="https://les-rives-de-bramois.ch/wp/wp-content/themes/meo-theme-immobilier-steiner/images/Steiner_4C.svg" /></div>
                        <div class="wrap-content-full-width">
                            <div class="flex-col col-33"><img src="https://les-rives-de-bramois.ch/wp/wp-content/uploads/2020/01/RetailleauLorene_square.jpg" alt="Lorène Retailleau" /></div>
                            <div class="flex-col col-66">

                                <span style="text-transform: uppercase; display: block;">Lorène Retailleau</span>Project Manager sale &amp; lease

                                <a style="text-transform: uppercase; display: block;" title="Contacter par téléphone" href="tel:0041584452910">
                                    T. +41 58 445 29 10
                                </a><a href="mailto:rivesdebramois@Steiner.ch">rivesdebramois@Steiner.ch</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-col col-33">
                <div class="contact-logo"><img src="https://les-rives-de-bramois.ch/wp/wp-content/themes/meo-theme-immobilier-steiner/images/ARE_logo_color.svg" /></div>
                <div class="wrap-content-full-width contact-people">
                    <div class="flex-col col-33"><img src="https://les-rives-de-bramois.ch/wp/wp-content/uploads/2019/05/Bramois__0000_Follonnier.jpg" alt="Jean Follonier" /></div>
                    <div class="flex-col col-66">
                        <div>

                            <span style="text-transform: uppercase; display: block;">Jean Follonier</span>Partenaire commercial

                            <a style="text-transform: uppercase; display: block;" title="Contacter par téléphone" href="tel:0041793128443">
                                T. +41 79 312 84 43
                            </a><a title="Contacter par mail" href="mailto:info@alprealestate.ch">info@alprealestate.ch</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-col col-33">
                <div class="contact-logo"><img src="https://les-rives-de-bramois.ch/wp/wp-content/themes/meo-theme-immobilier-steiner/images/CIvertical2LOfficielRVB.svg" /></div>
                <div class="wrap-content-full-width contact-people">
                    <div class="flex-col col-33"><img src="https://les-rives-de-bramois.ch/wp/wp-content/uploads/2020/05/Benoit_Dorsaz_square.jpg" alt="Jean Follonier" /></div>
                    <div class="flex-col col-66">
                        <div>

                            <span style="text-transform: uppercase; display: block;">Benoit Dorsaz</span>Partenaire commercial

                            <a style="text-transform: uppercase; display: block;" title="Contacter par téléphone" href="tel:0041793128443">
                                T. +41 79 312 84 43
                            </a><a title="Contacter par mail" href="mailto:benoit.dorsaz@comptoir-immo.ch">benoit.dorsaz@comptoir-immo.ch</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-content-full-width">
                <div class="flex-col col-100">
                    <h1>Nous écrire</h1>
                </div>
            </div>
        </div>
    </div>
    <legend>* champs obligatoires</legend>
    <div class="wrap-content-full-width">
        <div class="wrap-content-full-width">
            <div class="flex-col col-100">

                [contact-form-7 id="734" title="Contact form"]

            </div>
        </div>
    </div>
</section>