/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    Created on : 3 oct. 2016, 09:41:12
    Author     : MEO
*/
.wrapper
{
    width: 85% !important;
    margin: 0 auto;
    max-width: 1200px !important;
}

.pr10px
{
    padding-right: 10px;
    @media @tablets-portrait
    { 
        padding-right: 0;
    }
    @media @smartphones
    { 
        padding-right: 0;
    }
}
.pl10px
{
    padding-left: 10px;
    @media @tablets-portrait
    { 
        padding-left: 0;
    }
    @media @smartphones
    { 
        padding-left: 0;
    }
}
.pr14px
{
    padding-right: 14px;
    @media @tablets-portrait
    { 
        padding-right: 0;
    }
    @media @smartphones
    { 
        padding-right: 0;
    }
}
.pl14px
{
    padding-left: 14px;
    @media @tablets-portrait
    { 
        padding-left: 0;
    }
    @media @smartphones
    { 
        padding-left: 0;
    }
}
.pr15px
{
    padding-right: 15px;
    @media @tablets-portrait
    { 
        padding-right: 0;
    }
    @media @smartphones
    { 
        padding-right: 0;
    }
}
.pl15px
{
    padding-left: 15px;
    @media @tablets-portrait
    { 
        padding-left: 0;
    }
    @media @smartphones
    { 
        padding-left: 0;
    }
}
.pr30px
{
    padding-right: 30px;
    @media @tablets-portrait
    { 
        padding-right: 0;
    }
    @media @smartphones
    { 
        padding-right: 0;
    }
}
.pl30px
{
    padding-left: 30px;
    @media @tablets-portrait
    { 
        padding-left: 0;
    }
    @media @smartphones
    { 
        padding-left: 0;
    }
}
.mr10px
{
    margin-right: 10px;
    @media @tablets-portrait
    { 
        margin-right: 0;
    }
    @media @smartphones
    { 
        margin-right: 0;
    }
}
.ml10px
{
    margin-left: 10px;
    @media @tablets-portrait
    { 
        margin-left: 0;
    }
    @media @smartphones
    { 
        margin-left: 0;
    }
}
#main-content .view-switcher
{
    position: relative;
    display: block;
    width: 20%;
    padding-bottom: 50px;
}
#main-content .building-content .view-switcher
{
    //display: table-row;
    width: 100%;
}
#main-content .view-switcher.list-lot-page
{
    top: 0;
    right: 12px;
    position: absolute;
}
#main-content .view-switcher a.btn-siwtch-view-immo
{
    top: 0;
    right: 0;
    color: #554f4f;
    display: block;
    padding: 10px;
    position: absolute;
}
#main-content  .view-switcher a.btn-siwtch-view-immo .fa
{
    color: #554f4f;
    font-size: 1.5rem;
}
#main-content .view-switcher a.btn-siwtch-view-immo img
{
    width: 1.5rem;
    height: 1.5rem;
}
#main-content .view-switcher a.btn-siwtch-view-immo:hover .fa
{
    color: @green-light
}

.btn-download
{
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    max-width: 300px;
    width: auto;
    min-width: 180px;
    height: 60px;
    background-color: lighten(@green-light, 10%);
    overflow: hidden;
    .mixin-border-radius(5px,5px,5px,5px);
    @tablets-portrait
    {
        max-width: 100%;
    }
    @media @smartphones
    {
        max-width: 100%;
    }
}
.page-list-price .btn-download
{
    width: 250px;
    @tablets-portrait
    {
        width: 100%;
    }
    @media @smartphones
    {
        width: 100%;
    }
}
.btn-download .btn-intern-icon
{
    width: 70px;
    height: 60px;
    text-align: center;
    display: inline-block;
    background-color: @green-light;
}
.btn-download .btn-intern-icon:after
{
    position: absolute;
    top: 0;
    left: 70px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 30px 9px;
    border-color: transparent transparent transparent @green-light;
}

.btn-download:hover
{
    background-color: @green-light;
}

.btn-download:hover .btn-intern-icon
{
    background-color: lighten(@green-light, 10%);
}

.btn-download:hover .btn-intern-icon:after
{
    border-color: transparent transparent transparent lighten(@green-light, 10%);
}

.btn-download .btn-intern-icon i.fa
{
    color: #fff;
    font-size: 2.4rem;
    .mixin-vertical-align(relative);
}
.btn-download p
{
    top: 50%;
    right: 0px;
    position: absolute;
    display: block;
    width: calc(100% - 25px);
    color: #fff;
    line-height: 1.2rem;
    text-align: center;
    transform: translateY(-50%);
    @media @tablets-portrait
    {
        width: 82%;
    }
    @media @smartphones
    {
        width: 82%;
    }
}
.btn-download p span
{
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 1.5rem;
}
.btn-download p span strong.price_list_download_txt
{
    display: block;
    @media @tablets-portrait
    {
        display: inline;
    }
    @media @smartphones
    {
        display: inline;
    }
}
.btn-download p span strong
{
    text-transform: uppercase;
}
.fancybox-inner
{
    overflow: hidden !important;
}