{% extends 'templates/base.twig' %}

{% block style %}
    <link href="{{ plugin_path }}/meo-crm-core/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_plugin }}/meo-crm-realestate-display/css/meo-crm-realestate-building.css" type="text/css">
{% endblock %}    

{% block content %}  
    <input type="hidden" name="selected_building" id="selected_building" value="{{ building_selected }}" />
    {% for key_building, building in buildings %}
        <article data-order="{{ key_building }}" id="building_full_content_{{ key_building }}" class="building-container" {% if building_selected == key_building %}style="display:block"{% endif %}>
            <div class="building-content">
                <div class="building-details">
                    <span><img src="{{ base_upload_url }}{{ building['image_preview'] }}" alt="{{ building['title'] }}" /></span>
                    <span>
                        <h2 class="sector-title">{{ building['sector'] }}</h2>
                        <!--<h2 class="building-title">B&acirc;timent {{ building['title'] }}</h2> -->
                        <h2 class="building-title">{{ _e('[:en]Building[:fr]Bâtiments') }} {{ building['title'] }}</h2>
                    </span>
                    <span class="building-status-details">
                        <p>
                            {% if building['count_lots'] < 10 %}
                                &nbsp;{{ building['count_lots'] }}
                            {% else %}
                                {{ building['count_lots'] }}
                            {% endif %}
                            {{ type_lot }}
                        </p>
                        {% for key, status_lot in building['status_lot'] %}
                            <p>
                                {% if status_lot.value < 10 %}
                                    &nbsp;{{ status_lot.value }}
                                {% else %}
                                    {{ status_lot.value }}
                                {% endif %}
                                <span class="status-color-bullet" style="background-color:{{ status_lot.color }}">&nbsp;</span>
                                {% if status_lot.value > 1 %}
                                    {{ _e(key) }}s
                                {% else %}
                                    {{ _e(key) }}
                                {% endif %}                                    
                            </p>
                        {% endfor %}    
                    </span>
                    <span class="plan-sector-container"> 
                        <img id="base-sector-building-map" usemap="#realestate_sector_{{ key_building }}" class="sector-buildings" src="{{ base_upload_url }}{{ building['plan_sector_2d'] }}" alt="" />
                        <map class="map_realestate_sector" name="realestate_sector_{{ key_building }}" id="realestate_sector_{{ key_building }}">
                            {% for key, building_plan in buildings  %}
                                <area data-building="building_full_content_{{ key }}" data-id="{{ key }}" data-color="{{ lot['status_color'] }}" data-id-image="building_{{ key }}_{{ key_building }}" data-num="{{ key }}_{{ key_building }}" shape="poly" coords="{{ building_plan['coordinate_plan_sector_2d']}}" href="" alt=""/>    
                            {% endfor %}  
                        </map> 
                        {% for key, building_plan in buildings  %}
                            <img id="building_{{ key }}_{{ key_building }}" usemap="#realestate_sector_{{ key_building }}" class="hover-sector-2d building_full_content_{{ key_building }}" src="{{ base_upload_url }}{{ building_plan['image_hover_plan_sector_2d'] }}" alt="{{ building_plan['title'] }}" />  
                        {% endfor %} 
                        {% for key, building_plan in buildings  %}
                            <img id="building_selected_{{ key }}_{{ key_building }}" usemap="#realestate_sector_{{ key_building }}" class="selected-building-sector building_full_content_{{ key_building }}" src="{{ base_upload_url }}{{ building_plan['image_hover_plan_sector_2d'] }}" alt="{{ building_plan['title'] }}" />  
                        {% endfor %} 
                    </span>
                </div>
                <div class="building-lot-selector">
                    
                    <div class="view-switcher">
                        <a class="btn-siwtch-view-immo" href="{{ page_list_lot }}" title="Liste des lots">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </a>
                    </div>
                    
                    {% if buildings|length > 1 %}
                        <div class="previous-building"><span class="icon-bg"></span></div> 
                    {% else %} 
                        <div style="visibility:hidden;" class="previous-building"><span class="icon-bg"></span></div> 
                    {% endif %} 
                    
                    <div class="building-image"> 
                        <div class="building-effect">
                            <div class="front-building">

                                <img id="img-front-building" usemap="#realestate_front_building_{{ key_building }}" src="{{ base_upload_url }}{{ building['image_front_face'] }}" alt="{{ building['title'] }}" />

                                <map class="building_map" name="realestate_front_building_{{ key_building }}" id="realestate_front_building_{{ key_building }}">
                                    {% for key_lot, lot in building['lots']   %}
                                        {% for key_plan, plan_building in lot['plan_building_status']   %}
                                            <area class="lot-building-list" data-id="{{ key_lot }}" data-color="{{ lot['status_color'] }}" shape="poly" coords="{{ plan_building['coordinate_plan_face']}}" href="" alt="" />
                                        {% endfor %}  
                                    {% endfor %}  
                                </map> 

                                <!-- IMAGE LOT IN BUILDING FRONT -->
                                {% for key_lot, lot in building['lots']   %}
                                    {% for key_plan, plan_building in lot['plan_building_status']   %}
                                        <img usemap="#realestate_front_building_{{ key_building }}" class="base_status_lot status_lot_{{ key_lot }}" src="{{ base_upload_url }}{{ plan_building['images_plans'][0]['front']['base'] }}" alt="{{ lot['title'] }}" />
                                    {% endfor %}  
                                {% endfor %} 
                                <!-- / IMAGE LOT IN BUILDING FRONT -->

                                <!-- IMAGE HOVER LOT IN BUILDING FRONT -->
                                {% set count = 1 %}
                                {% set old_lot = '' %}

                                {% for key_lot, lot in building['lots']   %}
                                    {% for key_plan, plan_building in lot['plan_building_status']   %} 

                                        {% if old_lot == key_building %}
                                            <img  id="image_front_hover_{{ key_lot }}" usemap="#realestate_front_building_{{ key_building }}_1" class="hover_map_building hover_status_lot status_lot_hover_{{ key_lot }}" src="{{ base_upload_url }}{{ plan_building['images_plans'][0]['front']['base'] }}" alt="{{ lot['title'] }}" />
                                        {% else %}
                                            <img  id="image_front_hover_{{ key_lot }}" usemap="#realestate_front_building_{{ key_building }}" class="hover_map_building hover_status_lot status_lot_hover_{{ key_lot }}" src="{{ base_upload_url }}{{ plan_building['images_plans'][0]['front']['base'] }}" alt="{{ lot['title'] }}" />
                                        {% endif %}

                                    {% endfor %}  
                                {% endfor %} 
                                {% set count = 1 %}
                                {% set old_lot = '' %}

                                {% for key_lot, lot in building['lots']   %}
                                    {% for key_plan, plan_building in lot['plan_building_status']   %} 

                                        {% if old_lot == key_building %}
                                            <img  id="image_select_front_selected_{{ key_lot }}" usemap="#realestate_front_building_{{ key_building }}_1" class="image_selected_map_building_front hover_status_lot status_lot_hover_{{ key_lot }}" src="{{ base_upload_url }}{{ plan_building['images_plans'][0]['front']['base'] }}" alt="{{ lot['title'] }}" />
                                        {% else %}
                                            <img  id="image_select_front_hover_{{ key_lot }}" usemap="#realestate_front_building_{{ key_building }}" class="image_selected_map_building_front hover_status_lot status_lot_hover_{{ key_lot }}" src="{{ base_upload_url }}{{ plan_building['images_plans'][0]['front']['base'] }}" alt="{{ lot['title'] }}" />
                                        {% endif %}

                                    {% endfor %}  
                                {% endfor %} 
                                <!-- / IMAGE HOVER LOT IN BUILDING FRONT -->

                            </div> 
                        {% if building['image_back_face'] != '' %}
                            <div class="back-building">                            
                                <img id="img-back-building" usemap="#realestate_back_building_{{ key_building }}" src="{{ base_upload_url }}{{ building['image_back_face'] }}" alt="{{ building['title'] }}" />

                                <map  class="building_map" name="realestate_back_building_{{ key_building }}" id="realestate_back_building_{{ key_building }}">
                                    {% for key_lot, lot in building['lots']   %}
                                        {% for key_plan, plan_building in lot['plan_building_status']   %}
                                            <area class="lot-building-list" data-id="{{ key_lot }}" shape="poly" coords="{{ plan_building['coordinate_plan_back']}}" href="" alt="" />
                                        {% endfor %}  
                                    {% endfor %}  
                                </map>

                                <!-- IMAGE LOT IN BUILDING FRONT -->
                                {% for key_lot, lot in building['lots']   %}
                                    {% for key_plan, plan_building in lot['plan_building_status']   %}
                                        <img usemap="#realestate_back_building_{{ key_building }}" class="base_status_lot status_lot_back_{{ key_lot }}" src="{{ base_upload_url }}{{ plan_building['images_plans'][0]['back']['base'] }}" alt="{{ lot['title'] }}" />
                                    {% endfor %}  
                                {% endfor %} 
                                <!-- / IMAGE LOT IN BUILDING FRONT -->

                                <!-- IMAGE HOVER LOT IN BUILDING FRONT -->
                                {% for key_lot, lot in building['lots']   %}
                                    {% for key_plan, plan_building in lot['plan_building_status']   %}
                                        <img id="image_back_hover_{{ key_lot }}" usemap="#realestate_back_building_{{ key_building }}" class="hover_map_building hover_status_lot status_lot_hover_{{ key_lot }}" src="{{ base_upload_url }}{{ plan_building['images_plans'][0]['back']['hover'] }}" alt="{{ lot['title'] }}" />
                                    {% endfor %}  
                                {% endfor %}       
                                <!-- / IMAGE HOVER LOT IN BUILDING FRONT -->
                            </div> 
                        {% endif %}
                        </div>
                        <i class="fa fa-undo rotate-building" aria-hidden="true"></i>
                    </div>
                    {% if buildings|length > 1 %}
                        <div class="next-building"><span class="icon-bg"></span></div> 
                    {% else %} 
                        <div style="visibility:hidden;" class="next-building"><span class="icon-bg"></span></div> 
                    {% endif %} 
                </div>
            </div>
            <!--<button id="refresh_fancy">refresh fancybox</button>-->
            <div class="table-lots">
                <table id="table_list_lots">
                    <thead>
                        <tr>
                            <th>Lot</th>
                            <th>Status</th>
                            <th>Etage</th>
                            <th>Pièces</th>
                            <th>Surface</th>
                            {% for meta in metas %}
                                <th>{{ meta.meta_key }}</th>
                            {% endfor %}                             
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="selected-lot-list">
                        </tr>
                        <tr class="space-table-row">
                        </tr>
                        {% for key_lot, lot in building['lots'] %}
                            {% if lot['sold'] == 0 %}
                                <tr id="lot_list_{{ key_lot }}" class="lot-row-table" data-id="{{ key_lot }}">         
                            {% else %}
                                <tr class="lot-row-table disabled-row" id="lot_list_{{ key_lot }}" data-id="{{ key_lot }}">  
                            {% endif %}
                                <td data-id="{{ key_lot }}" class="lot-building-list">{{ lot['title']|replace({'Lot':''}) }}</td>
                                <td data-id="{{ key_lot }}" class="lot-building-list"><span class="status-color-bullet" style="background-color:{{ lot['status_color'] }}">&nbsp;</span></td>
                                <td data-id="{{ key_lot }}" class="lot-building-list">
                                    {% for floor in lot['floor_lot'] %}
                                        {{ floor['floor'] }}
                                    {% endfor %}
                                </td>
                                {% if lot['room'] == 1 %}
                                    <td data-id="{{ key_lot }}" class="lot-building-list">studio</td>
                                {% else %}
                                    <td data-id="{{ key_lot }}" class="lot-building-list">{{ lot['room'] }}</td>
                                {% endif %}
                                <td data-id="{{ key_lot }}" class="lot-building-list">{{ lot['surface']|number_format(2) }}m<sup>2</sup></td>

                                {% for meta in lot['meta_values'] %}                                        
                                    {% if meta['type'] == 'float' %}
                                        {% if meta['value'] > 0 %}
                                            <td data-id="{{ key_lot }}" class="lot-building-list">{{ meta['value']|number_format(2) }}m<sup>2</sup></td>
                                        {% else %}
                                            <td data-id="{{ key_lot }}" class="lot-building-list">-</td>
                                        {% endif %}
                                    {% else %}
                                        <td data-id="{{ key_lot }}" class="lot-building-list">{{ meta['value'] }}</td>
                                    {% endif %}
                                {% endfor %}

                                <td>
                                    <a href="#details-lot-{{ key_lot }}" class="btn-list-lot details-plan">D&eacute;tail<img src="{{ template_path }}/images/icon_plan_details.png" alt="" /></a>
                                    <a class="btn-list-lot download-plan iframe-btn smartcapture fancybox.iframe" href="{{ file_request }}?file_id={{ lot['document_id'] }}&lot_id={{ key_lot }}">Dossier et visite 3D<i class="fa fa-download" aria-hidden="true"></i>
</a>
                                </td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <section id="popup-vignette">
                {% for id_lot, lot in building['lots']   %}
                    <div id="details-lot-{{ id_lot }}" class="fancybox detail-popup">
                        <div class="information">
                            <span class="lot-details">
                                <span class="popup-lot-title">{{ lot['title'] }}</span>
                                <br/>
                                {{ lot['room'] }}&nbsp;p.&nbsp;|&nbsp;
                                {% for key_floor_lot, floor_lot in lot['floor_lot'] %}
                                    {{ floor_lot['floor'] }}&nbsp;
                                {% endfor %}| B&acirc;timent {{ building['title'] }}
                            </span>
                            <span class="lot-status">
                                {% if price_enabler and show_price_lot and lot['hide_price'] != true %}
                                    {{ lot['price'] }}&nbsp;{{ devise }}
                                {% else %}
                                    {{ lot['status'] }}
                                {% endif %}
                                <span class="status-color-bullet" style="background-color:{{ lot['status_color'] }}">&nbsp;</span>
                            </span>
                        </div>
                        <div class="group-img">
                            <img src="{{ base_upload_url }}{{ lot['plan']['plan_2d'] }}" alt="Plan 2D" />
                            <!--<img src="{{ base_upload_url }}{{ lot['plan']['plan_3d'] }}" alt="Plan 3D" />-->
                        </div>
                        <div class="group-btn">
                            <a id="test_btn_building" onclick="$.fancybox.close();" class="btn-popup-situation close-popup" href="">Fermer</a>
                            <a class="btn-popup-situation btn-download-file" href="{{ file_request }}?file_id={{ lot['document_id'] }}&lot_id={{ id_lot }}">Dossier et visite 3D<i class="fa fa-download" aria-hidden="true"></i></a>
                            <a href="javascript:;" onclick="$.fancybox.close();" class="btn-popup-situation close-popup">Fermer</a>
                            <a class="btn-popup-situation btn-download-file iframe-btn smartcapture fancybox.iframe" href="{{ file_request }}?file_id={{ lot['document_id'] }}&lot_id={{ id_lot }}">Dossier et visite 3D<i class="fa fa-download" aria-hidden="true"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </article>
    {% endfor %}      
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_plugin }}/meo-crm-realestate-display/js/jquery.rwdImageMaps.min.js"></script>
    <script type="text/javascript" src="{{ url_plugin }}/meo-crm-realestate-display/js/building-script.js"></script>
    <script type="text/javascript">
        $(document).ready(function(e){
            // Building image
            $('.building_map area').mouseover(function(e){ 
                var id_building = $(this).attr('data-id');
                $('#image_front_hover_'+id_building).show();               
            }); 
            $('.building_map area').mouseout(function(e){
                var id_building = $(this).attr('data-id');
                $('#image_front_hover_'+id_building).hide(); 
            });  
            
            // Table Liste Selector
            $('.lot-row-table').mouseover(function(e){
                var id_building = $(this).attr('data-id');
                $('#image_front_hover_'+id_building).show();
            });            
            $('.lot-row-table').mouseout(function(e){
                var id_building = $(this).attr('data-id');
                $('#image_front_hover_'+id_building).hide();
            });            
            $('.lot-row-table').click(function(){
                var id_building = $(this).attr('data-id');
                $('.image_selected_map_building_front').each(function(){
                    $(this).hide();
                });
                $('#image_select_front_hover_'+id_building).show();
            }); 
            
            // Building details map building situation
            $('.map_realestate_sector area').mouseover(function(){
                var num = $(this).attr('data-num');
                $('#building_selected_'+num).show();
            });
            $('.map_realestate_sector area').mouseout(function(){
                var num = $(this).attr('data-num');
                $('#building_selected_'+num).hide();
            });
        });
    </script>
{% endblock %}
