{% extends 'templates/base.twig' %}

{% block style %}
    <link href="{{ plugin_path }}/meo-crm-core/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_plugin }}/meo-crm-realestate-display/css/meo-crm-realestate-list-lot.css" type="text/css">
{% endblock %}    

{% block content %}
    <div id="list-lot-container">

        {{post.content}}

        <input type="hidden" name="ajaxurl" id="ajaxurl" value="{{ ajaxurl }}" />
        <input type="hidden" name="base_height" id="base_height" value="" />
        <input type="hidden" name="room-selected" id="room-selected" value="{{ filters['room-selected'] }}" />
        <input type="hidden" name="floor-selected" id="floor-selected" value="{{ filters['floor-selected'] }}" />
        <input type="hidden" name="building-selected" id="building-selected" value="{{ filters['building-selected'] }}" />
        <input type="hidden" name="surface-selected" id="surface-selected" value="{{ filters['surface-selected'] }}" />
        {% for key_filter, filter_data in filter_datas %}
            <input meta-id="{{ key_filter }}" type="hidden" name="meta-selected[]" id="{{ filter_data['slug'] }}-selected" class="meta-selected" value="" />
        {% endfor %}
        <div class="wrapper-filter-list-lot">
            <div class="view-switcher list-lot-page">
                <a class="btn-siwtch-view-immo" href="{{ page_list_lot }}" title="Vue par b&acirc;timents">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                </a>
            </div>
            <div id="list-lot-filter-group-btn">
                <span class="btn-filter view-all current">Tout afficher</span> 
                <span class="btn-filter view-filter">Filtre<i class="fa fa-filter"></i></span> 
            </div>            
            <div id="list-filter">
                <div class="filter">
                    <div class="bloc-flex">
                        <div id="room-filter">
                            <span>Pièces</span>
                            <ul class="filter-list">
                                {% for room in rooms %}
                                    <li data-value="{{ room.rooms }}" class="filter-item">{{ room.rooms }}</li>
                                {% endfor %}                    
                            </ul>                
                        </div>
                        <div id="floor-filter">
                            <span>Étages</span>
                            <ul class="filter-list">
                                {% for floor in floors %}
                                    <li data-value="{{ floor.position }}" class="filter-item">{{ floor.title }}</li>
                                {% endfor %}                    
                            </ul>  
                        </div>
                    </div>
                    <div id="building-filter">
                        <span>B&acirc;timents</span>
                        <ul class="filter-list">
                            {% for id_building, building in buildings %}
                                <li  data-value="{{ id_building }}" class="filter-item">{{ building.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="surface-filter">
                        <span>Surface</span>
                        <ul class="filter-list">
                            {% for surface_filter in surfaces_filter %}
                                <li data-value="{{ surface_filter['value'] }}" class="filter-item">{{ surface_filter['label'] }}</li>
                            {% endfor %}
                        </ul>  
                    </div>                            
                    <section id="meta-filter-group">
                        {% for key_filter, filter_data in filter_datas %}
                            <div class="meta-filter" meta-id="{{ key_filter }}">
                                <span>{{ filter_data['key'] }}</span>
                                <ul class="filter-list">
                                    {% if filter_data['type'] != 'float' %}
                                        {% for filter_value in filter_data['values'] %}
                                                <li data-id-input="{{ key_filter }}" data-value="{{ filter_value }}" class="filter-item meta-value-selectable">{{ filter_value }}</li>
                                        {% endfor %}                                    
                                    {% else %}
                                        <li data-id-input="{{ key_filter }}" data-value="true" class="filter-item meta-value-selectable">Oui</li>
                                        <li data-id-input="{{ key_filter }}" data-value="false" class="filter-item meta-value-selectable">Non</li>         
                                    {% endif %}
                                </ul>  
                            </div>
                        {% endfor %}
                    </section>
                </div>
                <div class="action-filter">
                    <span class="more_filter">Filtres avancés<i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                    <span class="label-remove-filter">Supprimer les filtres</span>
                    <button id="remove-filter"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>     
                    
        <section class="vignette-lots">
            
            {% for key_building, building in buildings %}
                {% for key_lot, lot in building['lots'] %}

                    {% set floors_lot_filter = '' %}
                    <!-- Indication data surface -->
                    {% if lot['surface'] <= 44 %}
                        {% set surface_lot = '25-44' %}
                    {% elseif lot['surface'] >= 45 and lot['surface'] <= 69 %}
                        {% set surface_lot = '45-69' %}
                    {% elseif lot['surface'] >= 70 and lot['surface'] <= 94 %}
                        {% set surface_lot = '70-94' %}
                    {% elseif lot['surface'] >= 95 and lot['surface'] <= 119 %}
                        {% set surface_lot = '95-119' %}
                    {% else %}
                        {% set surface_lot = '120' %}
                    {% endif %}

                    <!-- Indication Floor postion -->
                    {% for key_floor_lot, floor_lot in lot['floor_lot'] %}
                        {% if floors_lot_filter|length != 0 %}
                            {% set floors_lot_filter = floors_lot_filter ~ '-' ~ floor_lot['position'] %}
                        {% else %}
                            {% set floors_lot_filter = floor_lot['position'] %}
                        {% endif %}
                    {% endfor %}
                    
                    <article class="lot-item" data-id="{{key_lot}}" data-room="{{lot['room']}}" data-surface="{{surface_lot}}" data-building="{{key_building }}" data-floor="{{floors_lot_filter}}">
                        <div class="info-lot">
                            <span class="lot-title">{{ lot['title'] }}</span>                                
                            <span class="lot-status">
                                {% if price_enabler and show_price_lot and lot['hide_price'] != true %}
                                    {{ lot['price'] }}&nbsp;{{ devise }}
                                {% else %}
                                    {{ lot['status'] }}
                                {% endif %}
                                <span class="status-color-bullet" style="background-color:{{ lot['status_color'] }}">&nbsp;</span>
                            </span>                                
                            <span class="lot-details">
                                {{ lot['room'] }} | 
                                {{ lot['surface'] }} m<sup>2</sup> | 
                                {% for key_floor_lot, floor_lot in lot['floor_lot'] %}
                                    {{ floor_lot.floor }}&nbsp;
                                {% endfor %}
                                {% if mobile_device %}
                                    | <span class="">B&acirc;t.{{ building['title'] }}</span>
                                {% else %}
                                    | <a rel="group1" href="#situation_{{ key_lot }}" class="building-name">B&acirc;t.{{ building['title'] }}</a>
                                {% endif %}
                            </span>
                        </div>
                        <div class="plan-lot">
                            <img src="{{ base_upload_url }}{{ lot['plan']['plan_2d'] }}" alt="{{ lot['title'] }}">
                        </div>
                        {% if mobile_device %}
                            <div class="btn-group-lot-list">
                                <span id-show="{{ key_lot }}" class="mobile-btn-lot btn-lot mobile-btn-situation">
                                    Situation
                                </span>
                                <a class="btn-lot mobile-btn-lot" rel="external" href="{{ file_request }}?file_id={{ lot['document_id'] }}&lot_id={{ key_lot }}">
                                    Dossier et visite 3D<i class="fa fa-download" aria-hidden="true"></i>
                                </a>
                            </div>
                        {% else %} 
                            <div class="btn-group-lot-list">
                                <a rel="group1" href="#situation_{{ key_lot }}" class="btn-situation btn-lot">
                                    Situation
                                </a>
                                <a class="btn-lot iframe-btn fancybox fancybox.iframe" href="{{ file_request }}?file_id={{ lot['document_id'] }}&lot_id={{ key_lot }}">
                                    Dossier et visite 3D<i class="fa fa-download" aria-hidden="true"></i>
                                </a>
                            </div>
                        {% endif %} 
                        
                        {% if lot['sold'] %}
                            <div class="disabled-lot-vignette"></div>
                        {% endif %} 
                        
                    </article>
                {% endfor %} 
            {% endfor %}  
            
        </section>
        <div style="clear: both"></div>   
        <div id="group-lot-situation">
            {% for key_building, building in buildings %}
                {% for key_lot, lot in building['lots'] %}
                    <div class="lot-content" id="situation_{{ key_lot }}">
                        <h2>
                            <span class="lot-title">{{ lot['title'] }}</span>
                            <span class="lot-details">{{ lot['room'] }}&nbsp;p.&nbsp;|&nbsp;
                            {% for key_floor_lot, floor_lot in lot['floor_lot'] %}
                                {{ floor_lot['floor'] }}&nbsp;
                            {% endfor %}| B&acirc;timent {{ building['title'] }}
                            </span>
                            <span class="lot-status">
                                {% if price_enabler and show_price_lot and lot['hide_price'] != true %}
                                    {{ lot['price'] }}&nbsp;{{ devise }}
                                {% else %}
                                    {{ lot['status'] }}
                                {% endif %}
                                <span class="status-color-bullet" style="background-color:{{ lot['status_color'] }}">&nbsp;</span>
                            </span>
                        </h2>
                        <div class="bloc-flex plan-lot">
                            <div>
                                <img src="{{ base_upload_url }}{{ lot['plan']['plan_2d'] }}" alt="{{ lot['plan']['title'] }}" /> 
                            </div>                    
                            <div>
                                {% for key_floor_lot, floor_lot in lot['floor_lot'] %}
                                    <img src="{{ base_upload_url }}{{ floor_lot['plan'] }}" alt="{{ floor_lot['floor'] }}" />
                                {% endfor %}
                                <img src="{{ base_upload_url }}{{ building['image_building_sector'] }}" alt="{{ building['title'] }}" />
                            </div>                    
                        </div>
                        <div class="bloc-flex  group-btn">
                            {% if mobile_device %}
                                <span onclick="closeSituation()" id="close-lot" class="btn-lot">Fermer</span>
                                <a class="btn-popup-situation btn-download-file" rel="external" href="{{ file_request }}?file_id={{ lot['document_id'] }}&lot_id={{ key_lot }}">Dossier et visite 3D<i class="fa fa-download" aria-hidden="true"></i></a>
                            {% else %}
                                <a onclick="$.fancybox.close()" class="btn-popup-situation close-popup" href="javascript:;">Fermer</a>
                                <a class="btn-popup-situation btn-download-file iframe-btn fancybox fancybox.iframe" href="{{ file_request }}?file_id={{ lot['document_id'] }}&lot_id={{ key_lot }}">Dossier et visite 3D<i class="fa fa-download" aria-hidden="true"></i></a>
                            {% endif %}
                        </div>
                    </div>                
                {% endfor %} 
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_plugin }}/meo-crm-realestate-display/js/lot-list-script.js"></script>
    {% if mobile_device %}
        <script type="text/javascript" src="{{ url_plugin }}/meo-crm-core/js/jquery.mobile-1.4.5.min.js"></script> 
        <script type="text/javascript" src="{{ url_plugin }}/meo-crm-realestate-display/js/mobile-lot-list-script.js"></script>        
    {% endif %}
{% endblock %}