{% extends 'templates/base.twig' %}

{% block style %}
    <link href="{{ plugin_path }}/meo-crm-core/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_plugin }}/meo-crm-realestate-display/css/meo-crm-realestate-building.css" type="text/css">
{% endblock %}    

{% block content %}    
    <input type="hidden" name="selected_building" id="selected_building" value="{{ building_selected }}" />
    {% for key_building, building in buildings %}
        <article data-order="{{ key_building }}" id="building_full_content_{{ key_building }}" class="building-container" {% if building_selected == key_building %}style="display:block"{% endif %}>
            
        <div class="building-content">
            <div class="building-details">
                <span class="bloc-title-building">
                    <h2 class="building-title">
                        {{ building['title'] }} 
                        <span class="details_building">
                            <i class="fa fa-minus hidden" aria-hidden="true"></i>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </span>
                    </h2>
                </span>
                <section class="info-building">
                    <span><img src="{{ base_upload_url }}{{ building['image_preview'] }}" alt="{{ building['title'] }}" /></span>
                    <span class="building-status-details">
                        <p>{{ building['count_lots'] }} {{ type_lot }}</p>
                        {% for key, status_lot in building['status_lot'] %}
                            <p>{{ status_lot.value }} <span class="status-color-bullet" style="background-color:{{ status_lot.color }}">&nbsp;</span> {{ key }}</p>
                        {% endfor %}    
                    </span>
                    <span class="plan-sector-container"> 
                        <img usemap="#realestate_sector_{{ key_building }}" style="position: relative !important;" class="sector-buildings" src="{{ base_upload_url }}{{ building['image_building_sector'] }}"/>
                    </span>
                </section>
            </div>
            <div class="building-lot-selector">
                <div class="building-image"> 
                    <div class="building-effect">
                        <div class="front-building">

                            <img id="img-front-building" usemap="#realestate_front_building_{{ key_building }}" src="{{ base_upload_url }}{{ building['image_front_face'] }}" alt="{{ building['title'] }}" />

                            <map class="building_map" name="realestate_front_building_{{ key_building }}" id="realestate_front_building_{{ key_building }}">
                                {% for key_lot, lot in building['lots']   %}
                                    {% for key_plan, plan_building in lot['plan_building_status']   %}
                                        <area class="lot-building-list" data-id="{{ key_lot }}" data-color="{{ lot['status_color'] }}" shape="poly" coords="{{ plan_building['coordinate_plan_face']}}" href="" alt="" />
                                    {% endfor %}  
                                {% endfor %}  
                            </map> 

                            <!-- IMAGE LOT IN BUILDING FRONT -->
                            {% for key_lot, lot in building['lots']   %}
                                {% for key_plan, plan_building in lot['plan_building_status']   %}
                                    <img usemap="#realestate_front_building_{{ key_building }}" class="base_status_lot status_lot_{{ key_lot }}" src="{{ base_upload_url }}{{ plan_building['images_plans'][0]['front']['base'] }}" alt="{{ lot['title'] }}" />
                                {% endfor %}  
                            {% endfor %} 
                            <!-- / IMAGE LOT IN BUILDING FRONT -->

                            <!-- IMAGE HOVER LOT IN BUILDING FRONT -->
                            {% set count = 1 %}
                            {% set old_lot = '' %}

                            {% for key_lot, lot in building['lots']   %}
                                {% for key_plan, plan_building in lot['plan_building_status']   %} 

                                    {% if old_lot == key_building %}
                                        <img  id="image_select_front_selected_{{ key_lot }}" usemap="#realestate_front_building_{{ key_building }}" class="hover_status_lot status_lot_hover_{{ key_lot }} image_selected_map_building_front" src="{{ base_upload_url }}{{ plan_building['images_plans'][0]['front']['base'] }}" alt="{{ lot['title'] }}" />
                                    {% else %}
                                        <img  id="image_select_front_selected_{{ key_lot }}" usemap="#realestate_front_building_{{ key_building }}" class="hover_status_lot status_lot_hover_{{ key_lot }} image_selected_map_building_front" src="{{ base_upload_url }}{{ plan_building['images_plans'][0]['front']['base'] }}" alt="{{ lot['title'] }}" />
                                    {% endif %}

                                {% endfor %}  
                            {% endfor %} 
                            <!-- / IMAGE HOVER LOT IN BUILDING FRONT -->

                        </div>   
                        <div class="back-building">                            
                            <img id="img-back-building" usemap="#realestate_back_building_{{ key_building }}" src="{{ base_upload_url }}{{ building['image_back_face'] }}" alt="{{ building['title'] }}" />

                            <map  class="building_map" name="realestate_back_building_{{ key_building }}" id="realestate_back_building_{{ key_building }}">
                                {% for key_lot, lot in building['lots']   %}
                                    {% for key_plan, plan_building in lot['plan_building_status']   %}
                                        <area class="lot-building-list" data-id="{{ key_lot }}" data-color="{{ lot['status_color'] }}" shape="poly" coords="{{ plan_building['coordinate_plan_back']}}" href="" alt="" />
                                    {% endfor %}  
                                {% endfor %}  
                            </map>

                            <!-- IMAGE LOT IN BUILDING FRONT -->
                            {% for key_lot, lot in building['lots']   %}
                                {% for key_plan, plan_building in lot['plan_building_status']   %}
                                    <img usemap="#realestate_back_building_{{ key_building }}" class="base_status_lot status_lot_{{ key_lot }}" src="{{ base_upload_url }}{{ plan_building['images_plans'][0]['back']['base'] }}" alt="{{ lot['title'] }}" />
                                {% endfor %}  
                            {% endfor %} 
                            <!-- / IMAGE LOT IN BUILDING FRONT -->

                            <!-- IMAGE HOVER LOT IN BUILDING FRONT -->
                            {% for key_lot, lot in building['lots']   %}
                                {% for key_plan, plan_building in lot['plan_building_status']   %}
                                    <img  id="image_select_back_selected_{{ key_lot }}" usemap="#realestate_back_building_{{ key_building }}" class="hover_status_lot status_lot_hover_{{ key_lot }}" src="{{ base_upload_url }}{{ plan_building['images_plans'][0]['back']['base'] }}" alt="{{ lot['title'] }}" />
                                {% endfor %}  
                            {% endfor %}       
                            <!-- / IMAGE HOVER LOT IN BUILDING FRONT -->
                        </div>                        
                    </div>
                    <i class="fa fa-undo rotate-building" aria-hidden="true"></i>
                </div>
            </div>
                            
            <div class="building-navigation">
                
                <div class="nav-previous-building">
                    {% if buildings|length > 1 %}
                        <div class="previous-building"><span class="icon-bg"></span></div> 
                    {% else %} 
                        <div style="visibility:hidden;" class="previous-building"><span class="icon-bg"></span></div> 
                    {% endif %} 
                </div>
                
                <div class="nav-next-building">
                    {% if buildings|length > 1 %}
                        <div class="next-building"><span class="icon-bg"></span></div> 
                    {% else %} 
                        <div style="visibility:hidden;" class="next-building"><span class="icon-bg"></span></div> 
                    {% endif %} 
                </div>
                
            </div>
                
        </div>
        <div class="table-lots">
            <table id="table_list_lots">
                <thead>
                    <tr>
                        <th>Lot</th>
                        <th>Status</th>
                        <th>Etage</th>
                        <th>Pi&egrave;ces</th>
                        {% if smartphone == false %}
                            {% for meta in metas %}
                                <th>{{ meta.meta_key }}</th>
                            {% endfor %} 
                        {% endif %}
                        <th>Détail</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="selected-lot-list">
                    </tr>
                    <tr class="space-table-row">
                    </tr>
                    {% for key_lot, lot in building['lots'] %}
                        {% if lot['sold'] == 0 %}
                            <tr id="lot_list_{{ key_lot }}" class="lot-row-table" data-id="{{ key_lot }}">
                                <td data-id="{{ key_lot }}" class="lot-building-list">{{ lot['title']|replace({'Lot':''}) }}</td>
                                <td data-id="{{ key_lot }}" class="lot-building-list"><span class="status-color-bullet" style="background-color:{{ lot['status_color'] }}">&nbsp;</span></td>
                                <td data-id="{{ key_lot }}" class="lot-building-list">
                                    {% for floor in lot['floor_lot'] %}
                                        {{ floor['floor'] }}
                                    {% endfor %}
                                </td>
                                <td data-id="{{ key_lot }}" class="lot-building-list">{{ lot['room'] }}</td>
                                <td class="lot-building-list">
                                    {% if smartphone %}
                                        <a id-show="{{ key_lot }}" onclick="show_lot_plane(this)" class="btn-show-lot-details">
                                            <img src="{{ template_path }}/images/icon_plan_details.png" alt="details" />
                                        </a>
                                    {% else %}                                    
                                        <a  href="#details-lot-{{ key_lot }}" class="btn-show-lot-details">
                                            <img src="{{ template_path }}/images/icon_plan_details.png" alt="details" />
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr id="lot_list_{{ key_lot }}" class="lot-row-table disabled-row" data-id="{{ key_lot }}">
                                <td data-id="{{ key_lot }}" class="lot-building-list">{{ lot['title']|replace({'Lot':''}) }}</td>
                                <td data-id="{{ key_lot }}" class="lot-building-list"><span class="status-color-bullet" style="background-color:{{ lot['status_color'] }}">&nbsp;</span></td>
                                <td data-id="{{ key_lot }}" class="lot-building-list">
                                    {% for floor in lot['floor_lot'] %}
                                        {{ floor['floor'] }}
                                    {% endfor %}
                                </td>
                                <td data-id="{{ key_lot }}" class="lot-building-list">{{ lot['room'] }}</td> 
                                <td class="disabled-row">
                                    <a id-show="{{ key_lot }}" onclick="show_lot_plane(this)" class="btn-show-lot-details">
                                        <img src="{{ template_path }}/images/icon_plan_details.png" alt="details" />
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %} 
                </tbody>
            </table>
        </div>
        <section id="popup-vignette">
            {% for id_lot, lot in building['lots']   %}
                <div id="details-lot-{{ id_lot }}" class="fancybox detail-popup">
                    <div class="information">
                        <span class="lot-details">
                            <span class="popup-lot-title">{{ lot['title'] }}</span>
                            <br/>
                            {{ lot['room'] }}&nbsp;p.&nbsp;|&nbsp;
                            {% for key_floor_lot, floor_lot in lot['floor_lot'] %}
                            {{ floor_lot['floor'] }}&nbsp;
                            {% endfor %}| B&acirc;timent {{ building['title'] }}
                        </span>
                        <span class="lot-status">
                            {% if price_enabler and show_price_lot and lot['hide_price'] != true %}
                                {{ lot['price'] }}&nbsp;{{ devise }}
                            {% else %}
                                {{ lot['status'] }}
                            {% endif %}
                            <span class="status-color-bullet" style="background-color:{{ lot['status_color'] }}">&nbsp;</span>
                        </span>
                    </div>
                    <div class="group-img">
                        <img src="{{ base_upload_url }}{{ lot['plan']['plan_2d'] }}" alt="Plan 2D" />
                        <!--<img src="{{ base_upload_url }}{{ lot['plan']['plan_3d'] }}" alt="Plan 3D" />-->
                    </div>
                    <div class="btn-group">
                        <span class="btn-popup-situation close-popup">
                            Fermer
                        </span>
                        <a class="btn-popup-situation btn-download-file" rel="external" href="{{ file_request }}?file_id={{ lot['document_id'] }}&lot_id={{ id_lot }}">
                            T&eacute;l&eacute;charger le dossier<i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </article>
    {% endfor %}      
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_plugin }}/meo-crm-realestate-display/js/jquery.rwdImageMaps.min.js"></script>
    <script type="text/javascript" src="{{ url_plugin }}/meo-crm-core/js/jquery.mobile-1.4.5.min.js"></script> 
    <script type="text/javascript" src="{{ url_plugin }}/meo-crm-realestate-display/js/building-script.js"></script>
    <script type="text/javascript" src="{{ url_plugin }}/meo-crm-realestate-display/js/mobile-building-script.js"></script>
    <script type="text/javascript">
        $(document).ready(function(e){
            // Table Liste Selector          
            $('.lot-row-table').click(function(){
                var id_building = $(this).attr('data-id');
                $('.image_selected_map_building_front').each(function(){
                    $(this).hide();
                });
                $('#image_select_front_selected_'+id_building).show();
            });
        });
    </script>
{% endblock %}