{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css"/>
    </head>
{% endblock %}
    <body class="{{body_class}}" data-template="base.twig">

        <header id="header">            
            <div id="logo"></div>
            <div class="wrapper top-head">
                <a href="{{site.url}}" rel="external" title="{{site.name}}">
                    <img id="img-logo" src="{{ template_path }}/images/logo.png" alt="{{site.name}}" />
                </a>
            </div>
            <nav id="main-navigation" role="navigation">
                <div class="wrapper">
                    {{ main_navigation }}
                </div>  
                <div id="burger-nav">
                    <div class="wrapper">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>  
                </div>
            </nav>            
        </header>

        <div id="main-content" role="main">
            <div id="mobile-nav">
                {{ main_navigation }}
            </div>
            <div class="wrapper">
                {% block content %}

                {% endblock %}
            </div>
        </div>

        {% include 'footer.twig' %}

        {% if disclamer.enable_popin %}
            {% include 'rgpd.html.twig' %}
        {% endif %}

        {% block popup %}{% endblock %}

        <script type="text/javascript" src="{{ template_path }}/js/steiner-script.js"></script>

        {% block script %}
        {% endblock %}

        <script type="text/javascript">

            $(document).ready(function(){

                resize_bloc_logo();

                $('#menu-main_navigation li.menu-item').each(function(){
                    $(this).find('a.ui-link').each(function(){
                        console.log($(this).attr('href'));
                        $(this).attr('rel','external');
                    }); 
                });

                $(window).resize(function(){
                    resize_bloc_logo();
                });

                $(window).scroll(function(){
                    fixedButton();
                });

            });

            function fixedButton() {

                if($('.button-price-list').offset().top + $('.button-price-list').height()
                    >= $('#footer').offset().top - 10)
                    $('.button-price-list').addClass('fixed');

                if($(document).scrollTop() + window.innerHeight < $('#footer').offset().top)
                    $('.button-price-list').removeClass('fixed');
            }

            function scrollToCheckPopupOpened() {
                if($(window).scrollTop() >= $('#{{ popup.opened }}').offset().top) {
                    openPopup();
                }
            }

            function openPopup(){
                if($('#popup-info').attr('data-opened') != 'open') {

                    $('#popup-info').show();
                    setTimeout(function(){
                        $('#popup-info').addClass('opened');
                    }, 300);
                    $('#popup-info').attr('data-opened','open');
                }
            }

            function closePopup() {
                $('#popup-info').addClass('closed');
                $('#popup-info').removeClass('opened');
                setTimeout(function(){
                    $('#popup-info').hide();
                }, 1000);
            }

            function resize_bloc_logo()
            {
                var total_width = $(window).width();
                var width_logo = $('#img-logo').width();

                if(total_width > 900)
                {
                    var width_element = ((total_width/2)-600)+(width_logo+20);
                    $('#logo').width(width_element);
                }
            }

        </script>
        <!-- FOOTER WORDPRESS START -->
        {{function('wp_footer')}}
        <!-- FOOTER WORDPRESS END -->
    </body>
</html>
