{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">

        <section class="blog-list">

            <h1>News</h1>

            <div class="list">
                {% for item in articles %}
                    <article>
                        <div class="featured-image" style="background-image: url('{{ item.image_featured }}')">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAABkCAQAAABpj7eAAAAAoElEQVR42u3RAQ0AAAzCsOPf9G0Q0klYc6oqFgARECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAEBIiACAkRAgAjIeg+EzwBluELcMgAAAABJRU5ErkJggg==">
                        </div>
                        <h2>{{ item.post_title }}</h2>
                        <p>{{ item.post_excerpt }}</p>
                        <a class="btn-blue" target="_blank" href="{{ item.guid }}" title="En savoir plus">En savoir plus</a>
                    </article>
                {% endfor %}
            </div>

        </section>

    </div><!-- /content-wrapper -->
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.fancybox-gallery').fancybox();
            $('.fancybox-smartcapture').fancybox({
                width: 400,
                height: 500
            });
        });
    </script>
{% endblock %}