
<footer id="footer" role="footer">
{# 
    <div class="button-price-list">
        <a href="/price-list-request" class="fancybox-smartcapture iframe-btn fancybox fancybox.iframe btn-desktop">
            <span>Demander</span>
            <span>la liste des prix</span>
        </a>
        <a target="_blank" href="/price-list-request" class="mobile">
            <span>Demander</span>
            <span>la liste des prix</span>
        </a>
    </div>
     #}
    <div class="wrap-content wrap-content-85-center">
        <div class="flex-col col-25">
            <span>
                <p>un développement</p>
                <a target="_blank" href="http://www.steiner.ch/fr" title="Steiner"><img style="width: 100%;max-width: 190px;" src="{{ template_path }}/images/STEINER_logo.svg" alt="Logo Steiner" /></a>
            </span>
        </div>
        <div id="footer-center" class="flex-col col-33">
            <i class="fa fa-map-marker"></i>
            <p>
                STEINER SA
                <br/>
                Route de Lully 5 | CH-1131 Tolochenaz
                <br/>
                <a target="_blank" href="http://www.steiner.ch/fr" title="Steiner">www.steiner.ch</a>
            </p>
        </div>
        <div class="flex-col col-40 partner-logo">
            <a target="_blank" href="http://www.alprealestate.ch/fr/" title="Alp Real estate"><img src="{{ template_path }}/images/LOGO_ALP-REAL-ESTATE.svg" /></a>
            <a target="_blank" href="https://comptoir-immo.ch/" title="Comptoir immobilier"><img src="{{ template_path }}/images/LOGO_COMPTOIRE_IMMO.svg" /></a>
        </div>
        <div id="sub-footer">
            Steiner SA copyright {{"now"|date('Y')}} | design & code by <a href="http://www.meomeo.ch/" title="MEO design & communication" >MEO design & communication</a>
        </div>
    </div>    
</footer>