    {% block html_head_container %}

        {% include 'html-header.twig' %}
        {% block head %}
        {% endblock %}
        {% block style %}
        {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css"/>
        </head>
    {% endblock %} 
    
    <body id="homepage" class="{{body_class}}" data-template="base.twig">

        <p>{{ analytics_id }}</p>

        <div id="slider">
            {% for key,slide in slider %}
                <article id="slide-{{ key }}" class="slide">
                    <div class="slide-image" style="background-image: url({{ slide.image.url }});"></div>
                    <div class="slide-txt wrap-content wrap-content-40-center">
                        <section class="flex-col col-31">
                            &nbsp;
                        </section>
                        <section class="flex-col col-65">
                            <p class="texte_1">{{ slide.texte_1 }}</p>
                            <p class="texte_2">{{ slide.texte_2 }}</p>
                            <span class="underline">&nbsp;</span>
                        </section>
                    </div>
                </article>
            {% endfor %}
        </div>
        
        <div id="content" role="main">
            
            <div class="wrap-content-table wrap-content-35-center valign-center">
                <section class="cell-col col-32 left-content-center">
                    <div class="wrap-content-80">
                        <img src="{{ template_path }}/images/logo_home_left.png" alt="{{ site.name }}" />
                    </div>
                </section>
                <section class="cell-col col-65 right-content-center">
                    <div class="wrap-content-90">
                        <img src="{{ template_path }}/images/logo_home_right.png" alt="{{ site.name }}" />
                    </div>
                    <div id="home-nav">
                        <ul>
                            <li class="plan">
                                <span class="item-nav-homepage">
                                    Plans
                                </span>
                                <a href="{{ url_plan }}" title="Liste des lots">
                                    <div class="item-home-nav item-plan">
                                        <img src="{{ template_path }}/images/icon_plan.png" alt="" />
                                    </div>
                                </a>
                            </li>
                            <li class="contact">
                                <span class="item-nav-homepage">
                                    Contact
                                </span>
                                <a href="{{ url_contact }}" title="Contacter nous">
                                    <div class="item-home-nav item-contact">
                                        <img src="{{ template_path }}/images/icon_contact.png" alt="" />
                                    </div>
                                </a>
                            </li>
                            <li class="info">
                                <span class="item-nav-homepage">
                                    + d'info
                                </span>
                                <a href="{{ url_concept }}" title="Contacter nous">
                                    <div class="item-home-nav item-concept">
                                        <img src="{{ template_path }}/images/icon_info.png" alt="" />
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            
            <div id="content-bottom">
                <div class="wrap-content-98-center">
                    <div class="flex-col col-50">
                        <p>Un développement</p>
                        <a target="_blank" href="http://www.steiner.ch/fr" title=""><img id="logo-steiner" src="{{ template_path }}/images/steiner.logo.png" alt="Développement Steiner" /></a>
                    </div>
                    <div class="flex-col col-50">
                        <a target="_blank" href="http://www.alprealestate.ch/fr/" title="Alp Real estate"><img id="logoARE" src="{{ template_path }}/images/ARE_logo_white.svg" alt="" /></a>
                    </div>
                </div>
            </div>     
                            
        </div>
        <script src="{{ template_path }}/js/homeslider.js" type="text/javascript" />
        {% block script %}
            
        {% endblock %}
        <!-- FOOTER WORDPRESS START -->
        {{function('wp_footer')}}
        <!-- FOOTER WORDPRESS END -->
    </body>        
</html>
