{% extends "base.twig" %}
{% block content %}

    <section id="popup-homepage">
        <div class="popup-homepage-content">
            <div class="title">
                <h1>87 lots déjà vendus !</h1>
            </div>
            <div class="content">
                <p>Il ne reste actuellement plus que 19 lots en vente du 3.5 au 5.5 pièces.</p>
                <p>Découvrez dès à présent les plans et prix de nos lots disponibles</p>
                <a class="cta-btn btn-blue" href="https://les-rives-de-bramois.ch/meo-crm-realestate-sector/">En savoir plus</a>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function(){
            $('#popup-homepage').click(function(){
                $(this).hide();
            });
        });
    </script>

    {% set h1 = true %}
    <div class="content-wrapper">
      {% for content in full_content %}
          <div class="row">
              {% for column in content.columns %}
                  {% if column.type_de_bloc == 'img' %}
                      <div class="{{ content.total_columns }} img">
                        <a href="https://les-rives-de-bramois.ch/meo-crm-realestate-sector/">
                          <img src="{{ column.image }}" alt="" />
                        </a>
                      </div>
                  {% elseif column.type_de_bloc == 'ytb' %}
                      <div class="{{ content.total_columns }} ytb">
                        <div class="iframe-container">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ column.youtube }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </div>
                  {% elseif column.type_de_bloc == 'txt' %}
                      <div class="{{ column.class }} {{ content.total_columns }} txt">
                        <div>
                          {% if h1 %}
                              <h1>{{ column.title }}{% if column.subtitle %}<span>{{ column.subtitle }}</span>{% endif %}</h1>
                              {% set h1 = false %}
                          {% else %}
                              <h2>{{ column.title }}{% if column.subtitle %}<span>{{ column.subtitle }}</span>{% endif %}</h2>
                          {% endif %}
                          {{ column.content }}
                        </div>
                      </div>
                  {% endif %}
              {% endfor %}
          </div>
      {% endfor %}

        <div class="row">
          <div class="one-col color txt contact">
            <h2>Nous contacter</h2>
            <div>
                <div class="team">
                    <div class="img">
                        <img src="https://les-rives-de-bramois.ch/wp/wp-content/uploads/2020/01/RetailleauLorene_square.jpg" alt="Paul Vezin" />
                    </div>
                    <div class="txt">
                        <div>
                            <p>
                                <span style="text-transform: uppercase;display: block">Lorène Retailleau</span>
                            </p>
                            <p>Steiner</p>
                            <p>
                                <a class="btn-homepage" href="tel:0041584452910" title="Contacter par téléphone">
                                    <i class="icon icon-phone"></i><span>+41 58 445 29 10</span>
                                </a>
                                <br/>
                                <a class="btn-homepage" href="mailto:rivesdebramois@Steiner.ch" title="Contacter par mail">
                                    <i class="icon icon-mail"></i><span>rivesdebramois@Steiner.ch</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="team">
                    <div class="img">
                      <img src="https://les-rives-de-bramois.ch/wp/wp-content/uploads/2019/05/Bramois__0000_Follonnier.jpg" alt="Jean Follonier" />
                    </div>
                    <div class="txt">
                      <div>
                        <p>
                          <span style="text-transform: uppercase;display: block">Jean Follonier</span>
                        </p>
                          <p>Alp Real Estate</p>
                        <p>
                            <a class="btn-homepage" href="tel:0041793128443" title="Contacter par téléphone">
                                <i class="icon icon-phone"></i><span>+41 79 312 84 43</span>
                            </a>
                            <br/>
                            <a class="btn-homepage" href="mailto:info@alprealestate.ch" title="Contacter par mail">
                                <i class="icon icon-mail"></i><span>info@alprealestate.ch</span>
                            </a>
                        </p>
                      </div>
                    </div>
                </div>
                <div class="team">
                    <div class="img">
                        <img src="https://les-rives-de-bramois.ch/wp/wp-content/uploads/2021/05/AngelaWerlen-square.jpg" alt="Angela Werlen" />
                    </div>
                    <div class="txt">
                        <div>
                            <p>
                                <span style="text-transform: uppercase;display: block">Angela Werlen</span>
                            </p>
                            <p>Comptoir immobilier</p>
                            <p>
                                <a class="btn-homepage" href="tel:0041792338147" title="Contacter par téléphone">
                                    <i class="icon icon-phone"></i><span>+41 79 233 81 47</span>
                                </a>
                                <br/>
                                <a class="btn-homepage" href="mailto:ventes-valais@comptoir-immo.ch" title="Contacter par mail">
                                    <i class="icon icon-mail"></i><span>ventes-valais@comptoir-immo.ch</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn-blue" href="/contact" title="nous contacter">
              Accéder au formulaire
            </a>
          </div>
        </div>

	<!--
        <div class="row-blog">
            <div class="list-home">
                <h2>Actualités</h2>
                {% for item in articles|slice(0,2) %}
                    <article>
                        <div class="featured-image" style="background-image: url('{{ item.image_featured }}')">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAABkCAQAAABpj7eAAAAAoElEQVR42u3RAQ0AAAzCsOPf9G0Q0klYc6oqFgARECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAEBIiACAkRAgAjIeg+EzwBluELcMgAAAABJRU5ErkJggg==">
                        </div>
                        <h2>{{ item.post_title }}</h2>
                        <p>{{ item.post_excerpt }}</p>
                        <a class="btn-blue" target="_blank" href="{{ item.guid }}" title="En savoir plus">En savoir plus</a>
                    </article>
                {% endfor %}
            </div>
        </div>
	-->

    </div><!-- /content-wrapper -->
{% endblock %}

{% block popup %}
    <!--<div id="popup-info">
        <div class="container">
            <span class="close" onclick="closePopup()"></span>
            <div class="wrapper-popup">
                {{ popup.content }}
            </div>
        </div>
    </div>-->
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.fancybox-gallery').fancybox();
            $('.fancybox-smartcapture').fancybox({
                width: 400,
                height: 500
            });
            // POPUP MANAGER
            {% if popup.enable %}
                {% if popup.opened %}
                    $('html body').scroll(function(){
                        scrollToCheckPopupOpened();
                    });
                {% else %}
                    openPopup();
                {% endif %}
            {% endif %}
        });

        function scrollToCheckPopupOpened() {
            if($(window).scrollTop() >= $('#{{ popup.opened }}').offset().top) {
                openPopup();
            }
        }

        function openPopup(){
            if($('#popup-info').attr('data-opened') != 'open') {

                $('#popup-info').show();
                setTimeout(function(){
                    $('#popup-info').addClass('opened');
                }, 300);
                $('#popup-info').attr('data-opened','open');
            }
        }

        function closePopup() {
            $('#popup-info').addClass('closed');
            $('#popup-info').removeClass('opened');
            setTimeout(function(){
                $('#popup-info').hide();
            }, 1000);
        }
    </script>
{% endblock %}