{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="article-content">
                {{post.content}}
            </section>
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.fancybox-gallery').fancybox();
            $('.fancybox-smartcapture').fancybox({
                width: 400,
                height: 500
            });
        });
    </script>
{% endblock %}