{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="policy-content">
                {{post.content}}
            </section>
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}

{% block script %}

{% endblock %}