<style>
    #cookies-popin{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.9);
        color: #fff;
        z-index: 100000;
        display: none;
        font-size: 14px;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    }
    #cookies-popin > .wrapper{
        padding: 40px;
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        margin: auto;
    }
    #cookies-popin > .wrapper *{
        display: table-cell;
    }
    #cookies-popin > .wrapper p{
        padding-right: 40px;
        color: #fff;
    }
    #cookies-popin > .wrapper button{
        background: #000;
        border: 2px solid #fff;
        padding: 0 20px;
        line-height: 40px;
        text-transform: uppercase;
        font-size: 13px;
        color: #fff;
        margin-left: 10px;
        display: inline-block;
        text-decoration: none;
    }
    #cookies-popin > .wrapper button:hover{
        background: #fff;
        color: #000;
    }
    #cookies-popin > .wrapper a{
        color: #fff;
        display: inline-block;
        margin-left: 10px;
    }
    #cookies-popin > .wrapper .buttons{
        white-space: nowrap;
        width: 100%;
        align-self: end;
        text-align: right;
        margin-top: 20px;
    }
    @media only screen and (max-width : 480px) {
        #cookies-popin > .wrapper{
            padding: 20px;
        }
        #cookies-popin > .wrapper *{
            display: block;
            text-align: center;
        }
        #cookies-popin > .wrapper p{
            padding-right: 0px;
        }
    }
</style>

<div id="cookies-popin">
    <div class="wrapper">
        <p>{{ disclamer.content }}</p>
        <p class="buttons">
            <button onClick="hideCookiesPopin()">{{ disclamer.btn_conf }}</button>
            <a href="{{ disclamer.url_privacy_policy }}">{{ disclamer.btn_more }}</a>
        </p>
    </div>
</div>

<script>
    function showCookiesPopin() {
        if( localStorage.getItem("accept_cookies") == null ) {
            document.getElementById('cookies-popin').style.display = 'block';
        }
    }
    function hideCookiesPopin(){
        localStorage.setItem("accept_cookies",1);
        document.getElementById('cookies-popin').style.display = 'none';
    }
    window.onload = function () {
        setTimeout(function () {
            showCookiesPopin();
        }, 0);
    }
</script>