/*
    Created on  : 22 août 2016, 16:14:00
    Author      : MEO
    Description : LESS file for plugin MEO-CRM-REALESTATE-DISPLAY
*/
/*
    Created on  : 22 août 2016, 16:10:41
    Author      : MEO
    Description : Multiple function you can use in LESS file
*/
/* Create Base Style Title */
/* Vertical Align Element */
/* Create Border Radius */
/* Create Box Shadow */
/* Create Text Shadow */
/* Create Background Color With Opacity */
/*
    Created on  : 22 août 2016, 15:48:52
    Author      : MEO     
    Description : Media queries for responsive design
*/
/* tablette */
/* tablette portrait */
/* tablette landscale */
/* mobile portrait */
/* mobile portrait */
/* mobile landscale */
#global-content-list-lot {
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  overflow: hidden;
}
body > .ui-loader {
  display: none !important;
}
/*
 * PAGE LOT LIST
 */
span.btn-lot {
  display: block;
  border: 1px solid #aaa;
  background-color: #aeaeae;
  width: 80%;
  padding: 5px 0px;
  text-align: center;
  color: #333;
  margin: 10px auto 0 auto;
}
section.vignette-lots {
  margin: 0;
  padding: 0;
  padding-top: 1.5rem;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  section.vignette-lots {
    display: block;
    flex-wrap: nowrap;
    padding: 1.5rem 10px 0 10px;
  }
}
section.vignette-lots article {
  flex: auto;
  position: relative;
  border: 1px solid #959494;
  background-color: #F9F9F9;
  width: -moz-calc(17%);
  width: -webkit-calc(17%);
  width: calc(17%);
  max-width: 19%;
  margin: 0 1% 20px 1%;
  padding: 10px 2%;
}
@media only screen and (min-width : 737px) and (max-width : 1024px) and (orientation : portrait) {
  section.vignette-lots article {
    width: -moz-calc(42%);
    width: -webkit-calc(42%);
    width: calc(42%);
    max-width: 44%;
    margin: 0 1% 20px 1%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  section.vignette-lots article {
    width: 90%;
    max-width: 90%;
    margin: 0 0 20px 0;
    padding: 20px 5%;
  }
}
article .disabled-lot-vignette {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  article .disabled-lot-vignette {
    height: 80%;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
article .info-lot {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
article .lot-title {
  flex: auto;
  width: 49%;
  min-width: 49%;
  display: block;
  font-size: 1rem;
  font-weight: bold;
}
article .lot-status {
  flex: auto;
  width: 49%;
  min-width: 49%;
  display: block;
  text-align: right;
  font-size: 1rem;
}
article .lot-details {
  width: 100%;
  flex: auto;
  display: block;
  font-size: 13px;
  border-top: 1px solid #ccc;
  padding: 5px 0 10px 0;
  margin-top: 5px;
}
article .plan-lot {
  margin: 10px 0 20px 0;
}
.status-color-bullet,
article .status-color-bullet {
  top: 4px;
  width: 12px;
  height: 12px;
  position: relative;
  display: inline-block;
  margin: 0 5px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
@media only screen and (min-width : 737px) and (max-width : 1024px) and (orientation : portrait) {
  .status-color-bullet,
  article .status-color-bullet {
    top: 3px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .status-color-bullet,
  article .status-color-bullet {
    top: 3px;
  }
}
section.vignette-lots article .lot-btn-group {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
section.vignette-lots article .lot-btn-group a {
  display: block;
  width: 100%;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}
.bloc-flex {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width : 737px) and (max-width : 1024px) and (orientation : portrait) {
  .bloc-flex {
    display: block;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .bloc-flex {
    display: block;
    margin-bottom: 15px;
  }
}
#list-lot-filter-group-btn {
  display: flex;
  width: 80% !important;
  padding-bottom: 0.7rem;
}
@media only screen and (min-width : 737px) and (max-width : 1024px) and (orientation : portrait) {
  #list-lot-filter-group-btn {
    display: block;
    width: 100% !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #list-lot-filter-group-btn {
    display: block;
    width: 100% !important;
  }
}
#list-lot-filter-group-btn span {
  flex: auto;
  width: 10%;
  max-width: 150px;
  display: block;
  padding: 10px 25px;
  background-color: #aaa;
  color: #000;
  text-align: center;
  margin-right: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
@media only screen and (min-width : 737px) and (max-width : 1024px) and (orientation : portrait) {
  #list-lot-filter-group-btn span {
    width: 100%;
    padding: 15px 0;
    max-width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #list-lot-filter-group-btn span {
    width: 100%;
    margin-right: 0;
    padding: 15px 0;
    max-width: 100%;
  }
}
#list-lot-filter-group-btn span:last-child {
  margin-right: 0;
}
@media only screen and (min-width : 737px) and (max-width : 1024px) and (orientation : portrait) {
  #list-lot-filter-group-btn span:last-child {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #list-lot-filter-group-btn span:last-child {
    margin-top: 10px;
  }
}
#list-lot-filter-group-btn span .fa {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
#list-filter {
  display: none;
  width: 100%;
  height: 90px;
  padding: 0.7rem 0;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
@media only screen and (min-width : 737px) and (max-width : 1024px) {
  #list-filter {
    height: auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #list-filter {
    height: auto;
  }
}
#list-filter .action-filter {
  position: relative;
}
#list-filter .action-filter span:first-child {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
#list-filter .action-filter span.label-remove-filter {
  position: absolute;
  left: 40px;
  bottom: 11px;
}
#list-filter .action-filter span .fa {
  margin-left: 0.5rem;
}
#list-filter .action-filter #remove-filter {
  padding: 0.7rem;
  background-color: #aaa;
  border: none;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
@media only screen and (min-width : 737px) and (max-width : 1024px) {
  #list-filter .action-filter #remove-filter {
    width: 100%;
    margin-top: 15px;
    position: initial;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #list-filter .action-filter #remove-filter {
    width: 100%;
    margin-top: 15px;
    position: initial;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
  }
}
.filter {
  width: 70%;
  display: table-cell;
}
@media only screen and (min-width : 737px) and (max-width : 1024px) {
  .filter {
    width: 100%;
    display: table-row;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .filter {
    width: 100%;
    display: table-row;
  }
}
.action-filter {
  width: 20%;
  display: table-cell;
}
@media only screen and (min-width : 737px) and (max-width : 1024px) {
  .action-filter {
    width: 100%;
    display: table-row;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .action-filter {
    width: 100%;
    display: table-row;
  }
}
@media only screen and (min-width : 737px) and (max-width : 1024px) {
  #room-filter,
  #building-filter {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #room-filter,
  #building-filter {
    margin-bottom: 15px;
  }
}
.meta-filter > span,
#room-filter > span,
#floor-filter > span,
#surface-filter > span,
#building-filter > span {
  display: inline-block;
  width: 150px;
}
@media only screen and (min-width : 737px) and (max-width : 1024px) {
  .meta-filter > span,
  #room-filter > span,
  #floor-filter > span,
  #surface-filter > span,
  #building-filter > span {
    width: 70px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .meta-filter > span,
  #room-filter > span,
  #floor-filter > span,
  #surface-filter > span,
  #building-filter > span {
    margin-bottom: 0;
  }
}
#floor-filter > span {
  width: 60px;
}
@media only screen and (min-width : 737px) and (max-width : 1024px) {
  #floor-filter > span {
    width: 70px;
  }
}
#room-filter,
#floor-filter {
  flex: 50%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #room-filter,
  #floor-filter {
    width: 100%;
    display: block;
    padding: 0;
  }
}
#surface-filter {
  width: 100%;
  display: block;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #surface-filter {
    width: 100%;
    display: block;
    padding: 0;
  }
}
#meta-filter-group {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .meta-filter {
    padding: 0;
  }
}
.filter-list {
  width: 80%;
  height: 20px;
  display: inline;
  list-style: none;
}
.filter-list .filter-item {
  display: inline-block;
  list-style: none;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #efefef;
  margin-top: 5px;
  background-color: #efefef;
}
.filter-list .filter-item:hover,
.filter-list .filter-item.active {
  background-color: #efefef;
}
.filter-list .filter-item.disabled-filter {
  opacity: 0.5;
}
a.btn-lot {
  z-index: 1000;
  position: absolute;
  display: block;
  border: 1px solid #aaa ;
  background-color: transparent;
  width: 100%;
  padding: 5px 0px;
  margin: 5px auto 0 auto;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #fff !important;
}
@media only screen and (min-width : 737px) and (max-width : 1024px) and (orientation : portrait) {
  a.btn-lot {
    /*width: 60%;
                    padding: 10px 0px;*/
    width: 80%;
    position: initial;
    margin-top: 5px;
    margin: 0 auto !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  a.btn-lot {
    width: 80%;
    position: initial;
    margin-top: 5px;
    margin: 0 auto !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  html #main-content a.btn-lot {
    padding: 10px 0px !important;
  }
  html #main-content a.btn-situation {
    background-color: transparent !important;
    border: none;
  }
}
a.iframe-btn {
  top: 30px;
}
a.btn-situation {
  padding: 0 !important;
}
a.btn-lot .fa {
  margin-left: 5px;
  font-size: 16px;
  color: #fff;
}
.wrapper-filter-list-lot {
  padding: 0 10px;
  position: relative;
}
.btn-group-lot-list {
  position: relative;
  height: 60px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #room-filter span,
  #floor-filter span,
  #building-filter span,
  #surface-filter span,
  .meta-filter span {
    font-weight: bold;
    margin-bottom: 0px;
  }
  .filter-list .filter-item span {
    font-weight: normal;
  }
  ul.filter-list {
    width: 100%;
    display: block;
    height: auto;
  }
}
.lot-content {
  display: none;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .lot-content .bloc-flex {
    flex-direction: column-reverse;
  }
}
.lot-content .bloc-flex > div:first-child {
  width: 60%;
  flex: 0 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .lot-content .bloc-flex > div:first-child {
    width: 80%;
    margin: 10px auto;
  }
}
.lot-content .bloc-flex > div:last-child {
  width: 40%;
  flex: 0 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .lot-content .bloc-flex > div:last-child {
    width: 80%;
    margin: 10px auto;
  }
}
.lot-content .bloc-flex > div:last-child .btn-lot {
  position: relative;
  z-index: 9000;
}
#close-lot {
  margin-top: 10px;
}
#group-lot-situation {
  display: none;
  background-color: #fff;
}
#group-lot-situation .lot-content {
  background-color: #fff;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #list-lot-container {
    position: relative;
  }
  #group-lot-situation {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    z-index: 3000;
  }
  #group-lot-situation .lot-content h2 {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  #group-lot-situation .lot-content .lot-title {
    display: block;
    color: #536584;
    font-size: 1.5rem;
    font-weight: bold;
  }
  #group-lot-situation .lot-content {
    width: 100%;
    margin: 0 auto;
  }
  #group-lot-situation .lot-content .lot-details,
  #group-lot-situation .lot-content .lot-status {
    font-size: 12px;
    padding-bottom: 5px;
  }
  #group-lot-situation .lot-content .lot-status {
    float: right;
  }
  #group-lot-situation .lot-content .btn-lot,
  #group-lot-situation .lot-content .btn-popup-situation {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    padding: 1rem 0 !important;
    text-decoration: none;
    width: 65% !important;
    border: medium none;
    color: #fff;
    text-align: center;
  }
  #group-lot-situation .lot-content a.btn-popup-situation.btn-download-file {
    display: block !important;
    background-color: #798bab;
  }
  #group-lot-situation .lot-content a.btn-popup-situation.btn-download-file .fa {
    color: #fff;
    margin-left: 5px;
  }
  #group-lot-situation .lot-content span#close-lot {
    background-color: #e2e2e2;
    margin-bottom: 5px;
  }
}
