/* 
    Created on : 25 août 2016, 09:30:54
    Author     : MEO
    PAGE BUILDING STYLE

*/
/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.

    Created on : 6 oct. 2016, 05:13:34
    Author     : MEO
*/
/*
    Created on  : 22 août 2016, 16:10:41
    Author      : MEO
    Description : Multiple function you can use in LESS file
*/
/* Create Base Style Title */
/* Vertical Align Element */
/* Create Border Radius */
/* Create Box Shadow */
/* Create Text Shadow */
/* Create Background Color With Opacity */
/*
    Created on  : 22 août 2016, 15:48:52
    Author      : MEO     
    Description : Media queries for responsive design
*/
/* tablette */
/* tablette portrait */
/* tablette landscale */
/* mobile portrait */
/* mobile portrait */
/* mobile landscale */
html,
html body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
}
body > .ui-loader {
  display: none !important;
}
article.building-container {
  display: none;
  width: 100%;
  padding: 0 10px;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  article.building-container {
    padding: 0;
  }
}
article.building-container:first-child {
  display: block;
}
.building-content {
  width: 100%;
  display: flex;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .building-content {
    flex-direction: column;
  }
}
.building-details {
  flex: 0 auto;
  width: 20%;
  background-color: #f1f1f1;
  padding: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .building-details {
    display: block;
    width: 96%;
    padding: 0;
    margin-bottom: 20px;
  }
}
.building-details .building-status-details {
  display: block;
  padding: 10px 0;
  margin: 10px 0 40px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.building-details .building-status-details p:first-child {
  font-weight: bold;
}
.building-details .status-color-bullet,
.building-details .building-status-details .status-color-bullet {
  top: 7px;
  width: 12px;
  height: 12px;
  position: relative;
  display: inline-block;
  margin: 0 5px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .building-details .status-color-bullet,
  .building-details .building-status-details .status-color-bullet {
    top: 3px;
  }
}
.building-details .plan-sector-container {
  width: 100%;
  display: block;
  position: relative;
}
.building-details .plan-sector-container img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.building-details .plan-sector-container img#base-sector-building-map {
  position: initial;
}
.building-details .plan-sector-container .hover-sector-2d,
.building-details .plan-sector-container .selected-building-sector {
  display: none;
}
.building-lot-selector {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  padding-left: 1rem;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .building-lot-selector {
    width: 100%;
    padding-left: 0rem;
  }
}
.building-lot-selector .previous-building,
.building-lot-selector .previous-building-mobile {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  flex: 0 auto;
  width: 15%;
  padding-right: 1rem;
  position: relative;
  /* facultatif : résoud un bug non systématique de blur sur IE */
  transform-style: preserve-3d;
}
@media only screen and (min-width : 737px) and (max-width : 1024px) and (orientation : portrait) {
  .building-lot-selector .previous-building,
  .building-lot-selector .previous-building-mobile {
    width: 10%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .building-lot-selector .previous-building,
  .building-lot-selector .previous-building-mobile {
    width: 15%;
  }
}
.building-lot-selector .next-building,
.building-lot-selector .next-building-mobile {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  flex: 0 auto;
  width: 15%;
  padding-left: 1rem;
  /* facultatif : résoud un bug non systématique de blur sur IE */
  transform-style: preserve-3d;
}
@media only screen and (min-width : 737px) and (max-width : 1024px) and (orientation : portrait) {
  .building-lot-selector .next-building,
  .building-lot-selector .next-building-mobile {
    width: 10%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .building-lot-selector .next-building,
  .building-lot-selector .next-building-mobile {
    width: 15%;
  }
}
@media only screen and (min-width : 737px) and (max-width : 1024px) {
  .building-navigation {
    height: 70px;
    position: relative;
  }
  .building-navigation .nav-previous-building,
  .building-navigation .nav-next-building {
    width: 50%;
  }
  .building-navigation .nav-previous-building .previous-building .icon-bg,
  .building-navigation .nav-next-building .next-building .icon-bg {
    top: 5px;
    position: absolute;
  }
  .building-navigation .nav-previous-building .previous-building .icon-bg {
    left: 10px;
  }
  .building-navigation .nav-next-building .next-building .icon-bg {
    right: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .building-navigation {
    height: 70px;
    position: relative;
  }
  .building-navigation .nav-previous-building,
  .building-navigation .nav-next-building {
    width: 50%;
  }
  .building-navigation .nav-previous-building .previous-building .icon-bg,
  .building-navigation .nav-next-building .next-building .icon-bg {
    top: 20px;
    position: absolute;
  }
  .building-navigation .nav-previous-building .previous-building .icon-bg {
    left: 0px;
  }
  .building-navigation .nav-next-building .next-building .icon-bg {
    right: 0px;
  }
}
.building-lot-selector .previous-building i.fa,
.building-lot-selector .previous-building-mobile i.fa,
.building-lot-selector .next-building i.fa,
.building-lot-selector .next-building-mobile i.fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* compatibilité : ie9+ */
  font-size: 3rem;
  color: #6a6a6a;
  cursor: pointer;
}
.building-lot-selector .building-image {
  flex: 0 auto;
  width: 65%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .building-lot-selector .building-image {
    width: 100%;
  }
}
.building-lot-selector .building-image .front-building {
  display: block;
}
.building-lot-selector .building-image .back-building {
  display: none;
}
.building-lot-selector .building-image .front-building,
.building-lot-selector .building-image .back-building {
  position: relative;
}
.building-lot-selector .building-image .front-building img.base_status_lot,
.building-lot-selector .building-image .back-building img.base_status_lot {
  opacity: 0.4 !important;
}
.building-lot-selector .building-image .front-building img.base_status_lot,
.building-lot-selector .building-image .front-building img.hover_status_lot,
.building-lot-selector .building-image .back-building img.base_status_lot,
.building-lot-selector .building-image .back-building img.hover_status_lot {
  top: 0;
  left: 0;
  position: absolute;
}
.building-lot-selector .building-image .front-building img.hover_status_lot,
.building-lot-selector .building-image .back-building img.hover_status_lot {
  display: none;
}
.building-lot-selector .building-image .rotate-building {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  color: #6a6a6a;
  cursor: pointer;
}
.table-lots {
  width: 100%;
  max-width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .table-lots {
    display: block;
    overflow: hidden;
  }
}
#table_list_lots {
  width: 100%;
  max-width: 100% !important;
  margin-top: 2rem;
  border-top: 1px solid #aaa;
  text-align: center;
}
#table_list_lots > thead tr th {
  font-size: 13px;
  width: auto !important;
  max-width: 70px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
#table_list_lots tbody tr {
  cursor: pointer;
}
#table_list_lots .disabled-row .lot-building-list {
  opacity: 0.3;
}
#table_list_lots tr th,
#table_list_lots tr td {
  text-align: center;
  padding: 0.5rem 0;
}
#table_list_lots .status-color-bullet,
#table_list_lots tr td span.status-color-bullet {
  /*top: 7px;*/
  width: 13px;
  height: 13px;
  position: relative;
  display: inline-block;
  margin: 0;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid #fff;
}
#table_list_lots > tbody tr.selected-lot-list {
  display: none;
  background-color: #dfdfdf;
}
#table_list_lots > tbody tr.selected-lot-list td {
  padding: 0 !important;
}
#table_list_lots > tbody tr td {
  font-size: 15px;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #table_list_lots > tbody tr td {
    width: 20%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #table_list_lots > tbody tr td:last-child {
    width: 100%;
  }
}
#table_list_lots > tbody tr {
  border-bottom: 1px solid #aaa;
}
a.btn-list-lot,
span.btn-list-lot,
a.btn-show-lot-details,
span.btn-show-lot-details,
span.btn-close-lot-details {
  display: inline-block !important;
  border: 1px solid #aaa;
  background-color: #aeaeae;
  width: 80%;
  padding: 5px 0px;
  text-align: center;
  color: #333;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  a.btn-list-lot,
  span.btn-list-lot,
  a.btn-show-lot-details,
  span.btn-show-lot-details,
  span.btn-close-lot-details {
    height: 30px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  a.btn-list-lot .fa {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  a.btn-show-lot-details img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
#table_list_lots > tbody tr td:last-child {
  padding-left: 20px;
  background-color: #fff;
}
#table_list_lots > tbody tr.selected-lot-list td > .btn-list-lot {
  padding: 20px 0 !important;
}
.building-container .btn-list-lot {
  width: 100% !important;
  margin-bottom: 5px;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .building-container .btn-list-lot {
    margin-bottom: 0px;
  }
}
a.btn-list-lot.iframe-btn {
  width: 100%;
}
section#popup-vignette {
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #fff;
}
.fancybox-details-lot {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .fancybox-details-lot {
    display: none;
    width: 90%;
    background-color: #FFF;
  }
}
.fancybox-details-lot .information p {
  font-size: 1rem;
  font-weight: normal;
}
.fancybox-details-lot .information p:first-child {
  font-size: 2rem;
  font-weight: bold;
}
.fancybox-details-lot .group-img {
  display: block;
  width: 100%;
}
.hidden {
  display: none !important;
}
.info-building {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .info-building {
    padding: 10px;
  }
}
@media only screen and (min-width : 737px) and (max-width : 1024px) and (orientation : portrait) {
  .bloc-title-building {
    display: block;
    height: 30px;
    position: relative;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  html #main-content article.building-container .building-details h2.building-title {
    padding: 3px 10px 0 0 !important;
    font-size: 1.2rem !important;
  }
  html #main-content .bloc-title-building h2.building-title span.details_building {
    padding-top: 1px;
  }
  html #main-content article.building-container .building-details span.building-status-details p {
    font-size: 0.8rem !important;
  }
  html #main-content article.building-container .building-details .building-status-details .status-color-bullet {
    top: 2px !important;
  }
  .bloc-title-building p {
    top: 5%;
    right: 0;
    position: absolute;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .bloc-title-building {
    display: block;
    height: 30px;
    position: relative;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  html #main-content article.building-container .building-details h2.building-title {
    padding: 3px 10px 0 0 !important;
    font-size: 1.1rem;
  }
  html #main-content .bloc-title-building h2.building-title span.details_building {
    padding-top: 1px;
  }
  .bloc-title-building p {
    top: 5%;
    right: 0;
    position: absolute;
  }
}
.tbl-data {
  width: auto;
}
.tbl-btn-info {
  width: 30px;
}
.tbl-btn-plan {
  width: 70px;
}
.fancybox-inner .detail-popup {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
.fancybox-inner .detail-popup .information {
  width: 100%;
  height: 50px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.fancybox-inner .detail-popup .information .lot-details {
  left: 0;
  bottom: 5px;
  display: block;
  position: absolute;
}
.fancybox-inner .detail-popup .information .lot-status {
  right: 0;
  bottom: 5px;
  display: block;
  position: absolute;
}
.fancybox-inner .detail-popup .information .lot-status .status-color-bullet {
  top: 5px;
  width: 12px;
  height: 12px;
  position: relative;
  display: inline-block;
  margin: 0 5px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
.fancybox-inner .detail-popup .group-img {
  width: 100%;
}
.fancybox-inner .detail-popup .group-img img {
  width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .building-navigation {
    width: 100%;
    display: flex;
  }
  .building-navigation {
    width: 100%;
    display: flex;
  }
  #popup-vignette .detail-popup {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
  }
  #popup-vignette .detail-popup .popup-lot-title {
    color: #536584;
    font-size: 1.5rem;
    font-weight: bold;
  }
  #popup-vignette .detail-popup .information {
    width: 100%;
    height: 50px;
    position: relative;
    border-bottom: 1px solid #ccc;
  }
  #popup-vignette .detail-popup .information .lot-details {
    left: 0;
    bottom: 5px;
    display: block;
    position: absolute;
  }
  #popup-vignette .detail-popup .information .lot-status {
    right: 0;
    bottom: 5px;
    display: block;
    position: absolute;
  }
  #popup-vignette .detail-popup .information .lot-status .status-color-bullet {
    top: 5px;
    width: 12px;
    height: 12px;
    position: relative;
    display: inline-block;
    margin: 0 5px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
  }
  #popup-vignette .detail-popup .group-img {
    width: 100%;
  }
  #popup-vignette .detail-popup .group-img img {
    width: 100%;
  }
  #popup-vignette .btn-popup-situation {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    padding: 1rem 0 !important;
    text-decoration: none;
    width: 65% !important;
    border: medium none;
    color: #fff;
    text-align: center;
  }
  #popup-vignette a.btn-popup-situation.btn-download-file {
    display: block !important;
    background-color: #798bab;
  }
  #popup-vignette a.btn-popup-situation.btn-download-file .fa {
    color: #fff;
    margin-left: 5px;
  }
  #popup-vignette .btn-popup-situation.close-popup {
    background-color: #e2e2e2;
    margin-bottom: 5px;
  }
}
@media only screen and (min-width : 737px) and (max-width : 1024px) and (orientation : landscape) {
  html #main-content article.building-container .building-details h2.building-title {
    font-size: 1.3rem !important;
  }
}
