.not-found-wrapper {
  text-align: center;
  padding: 30px 0 100px 0;
}
.not-found-title {
  font-size: 28px;
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
}
.not-found-subtitle {
  font-size: 220px;
  line-height: 100%;
  display: block;
  font-weight: 300;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
