.mk-body-loader-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}
.ie .mk-body-loader-overlay {
  display: none !important;
}
.qLlogo {
  text-align: center;
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -210px;
  top: 20%;
}
@media handheld, only screen and (max-width: 767px) {
  .qLlogo {
    top: 5%;
  }
}
/* 
** Preloader ****
*/
.mk-preloader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #aaa;
  background: -moz-linear-gradient(left, #aaaaaa 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #aaaaaa 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #aaaaaa 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #aaaaaa 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #aaaaaa 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: mk_preloader 0.8s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: mk_preloader 0.8s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.mk-preloader:before {
  width: 50%;
  height: 50%;
  background: #aaa;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.mk-preloader:after {
  background: #fff;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes mk_preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes mk_preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes mk_preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loop-main-wrapper {
  position: relative;
}
.loop-main-wrapper .mk-preloader {
  top: 200px;
}
