/* Shortcode:Full Width Slideshow
-------------------------------------------------------------------- */
.mk-fullwidth-slideshow {
  width: 100%;
  text-align: center;
}
.mk-fullwidth-slideshow .mk-flex-slides {
  width: 100%;
  text-align: center;
}
.mk-fullwidth-slideshow .mk-flex-slides li {
  text-align: center;
}
.mk-fullwidth-slideshow .mk-flex-slides li img {
  margin: 0 auto !important;
  max-width: auto !important;
  width: auto !important;
  height: auto;
}
.mk-fullwidth-slideshow .flex-direction-nav a {
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.mk-fullwidth-slideshow .flex-direction-nav a i {
  line-height: 40px;
  color: #fff;
  font-size: 16px;
}
.mk-fullwidth-slideshow .flex-direction-nav .flex-next {
  right: 20px;
}
.mk-fullwidth-slideshow .flex-direction-nav .flex-prev {
  left: 20px;
}
