/* Shortcode:Audio Player
-------------------------------------------------------------------- */
.mk-audio-shortcode {
  margin-bottom: 30px;
  height: 170px !important;
}
.mk-audio-shortcode .jp-audio.audio-has-img {
  margin-left: 170px;
}
.mk-audio-shortcode .jp-audio div.jp-interface {
  min-height: 170px !important;
}
