/* Shortcode:Fancy Title
-------------------------------------------------------------------- */
.mk-fancy-title {
  margin-bottom: 18px;
}
.mk-fancy-title.pattern-style {
  background: url(../../images/fancy-title-pattern.png) left center repeat-x;
}
.mk-fancy-title.pattern-style p {
  display: inline;
}
.mk-fancy-title.simple-style span {
  background: transparent !important;
}
.mk-fancy-title p {
  margin-bottom: 0 !important;
}
@media handheld, only screen and (max-width: 767px) {
  .mk-fancy-title {
    text-align: center !important;
  }
  .mk-fancy-title.pattern-style span {
    padding: 0 8px !important;
  }
  .mk-fancy-title.mk-force-responsive {
    font-size: 36px !important;
  }
}
.mk-title-box {
  line-height: 100%;
}
.mk-title-box p {
  margin: 0;
}
.mk-title-box span {
  padding: 4px 0;
}
