/* Device visbility media queries
-------------------------------------------------------------------- */
.visible-sm,
.visible-tl,
.visible-dt,
.visible-tl-v2,
.visible-dt-v2 {
  display: none;
}
/* Only mobiles */
@media screen and (max-width: 765px) {
  .hidden-sm {
    display: none !important;
  }
  .visible-sm {
    display: block !important;
  }
}
/* only tables */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hidden-tl {
    display: none !important;
  }
  .visible-tl {
    display: block !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .hidden-tl-v2 {
    display: none !important;
  }
  .visible-tl-v2 {
    display: block !important;
  }
}
/* Only Desktops */
@media only screen and (min-width: 1224px) {
  .hidden-dt {
    display: none !important;
  }
  .visible-dt {
    display: block !important;
  }
}
@media only screen and (min-width: 1290px) {
  .hidden-dt-v2 {
    display: none !important;
  }
  .visible-dt-v2 {
    display: block !important;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .no-smartphone {
    display: none !important;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .no-ipad {
    display: none !important;
  }
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .no-iphone {
    display: none !important;
  }
}
/* Inherit P tags inside shortcodes */
.mk-fancy-title p,
.mk-blockquote p,
.mk-mini-callout p,
.pricing-offer-grid p,
.mk-title-box p {
  color: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
}
