.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
/**
 * Objects
 */
/* Primary colour for buttons (alt) */
/* Text on primary colour bg */
/* Secondary buttons */
/* Text on secondary colour bg */
/* Prices, In stock labels, sales flash */
/* Text on highlight colour bg */
/* Content BG - Tabs (active state) */
/* small, breadcrumbs etc */
.woocommerce,
.woocommerce-page {
  /* =General Layout Styles
	-------------------------------------------------------------- */
  /* =Product Page
	-------------------------------------------------------------- */
  /* =Product Loops
	-------------------------------------------------------------- */
  /* =Cart Page
	-------------------------------------------------------------- */
  /* =Cart Sidebar
	-------------------------------------------------------------- */
  /* =Forms
	-------------------------------------------------------------- */
}
.woocommerce .col2-set,
.woocommerce-page .col2-set {
  *zoom: 1;
  width: 100%;
}
.woocommerce .col2-set:before,
.woocommerce-page .col2-set:before,
.woocommerce .col2-set:after,
.woocommerce-page .col2-set:after {
  content: " ";
  display: table;
}
.woocommerce .col2-set:after,
.woocommerce-page .col2-set:after {
  clear: both;
}
.woocommerce .col2-set:before,
.woocommerce-page .col2-set:before,
.woocommerce .col2-set:after,
.woocommerce-page .col2-set:after {
  content: " ";
  display: table;
}
.woocommerce .col2-set:after,
.woocommerce-page .col2-set:after {
  clear: both;
}
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  float: left;
  width: 48%;
}
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  float: right;
  width: 48%;
}
.woocommerce img,
.woocommerce-page img {
  height: auto;
  max-width: 100%;
}
.woocommerce div.product,
.woocommerce-page div.product,
.woocommerce #content div.product,
.woocommerce-page #content div.product {
  /* Tabs on the product page */
}
.woocommerce div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce #content div.product div.images,
.woocommerce-page #content div.product div.images {
  float: left;
  width: 40%;
}
.woocommerce div.product div.thumbnails,
.woocommerce-page div.product div.thumbnails,
.woocommerce #content div.product div.thumbnails,
.woocommerce-page #content div.product div.thumbnails {
  *zoom: 1;
}
.woocommerce div.product div.thumbnails:before,
.woocommerce-page div.product div.thumbnails:before,
.woocommerce #content div.product div.thumbnails:before,
.woocommerce-page #content div.product div.thumbnails:before,
.woocommerce div.product div.thumbnails:after,
.woocommerce-page div.product div.thumbnails:after,
.woocommerce #content div.product div.thumbnails:after,
.woocommerce-page #content div.product div.thumbnails:after {
  content: " ";
  display: table;
}
.woocommerce div.product div.thumbnails:after,
.woocommerce-page div.product div.thumbnails:after,
.woocommerce #content div.product div.thumbnails:after,
.woocommerce-page #content div.product div.thumbnails:after {
  clear: both;
}
.woocommerce div.product div.thumbnails:before,
.woocommerce-page div.product div.thumbnails:before,
.woocommerce #content div.product div.thumbnails:before,
.woocommerce-page #content div.product div.thumbnails:before,
.woocommerce div.product div.thumbnails:after,
.woocommerce-page div.product div.thumbnails:after,
.woocommerce #content div.product div.thumbnails:after,
.woocommerce-page #content div.product div.thumbnails:after {
  content: " ";
  display: table;
}
.woocommerce div.product div.thumbnails:after,
.woocommerce-page div.product div.thumbnails:after,
.woocommerce #content div.product div.thumbnails:after,
.woocommerce-page #content div.product div.thumbnails:after {
  clear: both;
}
.woocommerce div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a,
.woocommerce #content div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a {
  float: left;
  width: 30.75%;
  margin-right: 3.8%;
}
.woocommerce div.product div.thumbnails a.last,
.woocommerce-page div.product div.thumbnails a.last,
.woocommerce #content div.product div.thumbnails a.last,
.woocommerce-page #content div.product div.thumbnails a.last {
  margin-right: 0;
}
.woocommerce div.product div.thumbnails a.first,
.woocommerce-page div.product div.thumbnails a.first,
.woocommerce #content div.product div.thumbnails a.first,
.woocommerce-page #content div.product div.thumbnails a.first {
  clear: both;
}
.woocommerce div.product div.summary,
.woocommerce-page div.product div.summary,
.woocommerce #content div.product div.summary,
.woocommerce-page #content div.product div.summary {
  float: right;
  width: 56%;
}
.woocommerce div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs,
.woocommerce #content div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs {
  clear: both;
}
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs,
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
  *zoom: 1;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:after {
  content: " ";
  display: table;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:after {
  clear: both;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:after {
  content: " ";
  display: table;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:after {
  clear: both;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
  display: inline;
}
.woocommerce div.product #reviews .comment,
.woocommerce-page div.product #reviews .comment,
.woocommerce #content div.product #reviews .comment,
.woocommerce-page #content div.product #reviews .comment {
  *zoom: 1;
}
.woocommerce div.product #reviews .comment:before,
.woocommerce-page div.product #reviews .comment:before,
.woocommerce #content div.product #reviews .comment:before,
.woocommerce-page #content div.product #reviews .comment:before,
.woocommerce div.product #reviews .comment:after,
.woocommerce-page div.product #reviews .comment:after,
.woocommerce #content div.product #reviews .comment:after,
.woocommerce-page #content div.product #reviews .comment:after {
  content: " ";
  display: table;
}
.woocommerce div.product #reviews .comment:after,
.woocommerce-page div.product #reviews .comment:after,
.woocommerce #content div.product #reviews .comment:after,
.woocommerce-page #content div.product #reviews .comment:after {
  clear: both;
}
.woocommerce div.product #reviews .comment:before,
.woocommerce-page div.product #reviews .comment:before,
.woocommerce #content div.product #reviews .comment:before,
.woocommerce-page #content div.product #reviews .comment:before,
.woocommerce div.product #reviews .comment:after,
.woocommerce-page div.product #reviews .comment:after,
.woocommerce #content div.product #reviews .comment:after,
.woocommerce-page #content div.product #reviews .comment:after {
  content: " ";
  display: table;
}
.woocommerce div.product #reviews .comment:after,
.woocommerce-page div.product #reviews .comment:after,
.woocommerce #content div.product #reviews .comment:after,
.woocommerce-page #content div.product #reviews .comment:after {
  clear: both;
}
.woocommerce div.product #reviews .comment img,
.woocommerce-page div.product #reviews .comment img,
.woocommerce #content div.product #reviews .comment img,
.woocommerce-page #content div.product #reviews .comment img {
  float: right;
  height: auto;
}
.woocommerce #quantity,
.woocommerce-page #quantity,
.woocommerce #content .quantity,
.woocommerce-page #content .quantity {
  /* Disable input[type=number] buttons until the world is ready */
}
.woocommerce #quantity input::-webkit-outer-spin-button,
.woocommerce-page #quantity input::-webkit-outer-spin-button,
.woocommerce #content .quantity input::-webkit-outer-spin-button,
.woocommerce-page #content .quantity input::-webkit-outer-spin-button,
.woocommerce #quantity input::-webkit-inner-spin-button,
.woocommerce-page #quantity input::-webkit-inner-spin-button,
.woocommerce #content .quantity input::-webkit-inner-spin-button,
.woocommerce-page #content .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.woocommerce .related,
.woocommerce-page .related,
.woocommerce .upsells.products,
.woocommerce-page .upsells.products {
  *zoom: 1;
}
.woocommerce .related:before,
.woocommerce-page .related:before,
.woocommerce .upsells.products:before,
.woocommerce-page .upsells.products:before,
.woocommerce .related:after,
.woocommerce-page .related:after,
.woocommerce .upsells.products:after,
.woocommerce-page .upsells.products:after {
  content: " ";
  display: table;
}
.woocommerce .related:after,
.woocommerce-page .related:after,
.woocommerce .upsells.products:after,
.woocommerce-page .upsells.products:after {
  clear: both;
}
.woocommerce .related:before,
.woocommerce-page .related:before,
.woocommerce .upsells.products:before,
.woocommerce-page .upsells.products:before,
.woocommerce .related:after,
.woocommerce-page .related:after,
.woocommerce .upsells.products:after,
.woocommerce-page .upsells.products:after {
  content: " ";
  display: table;
}
.woocommerce .related:after,
.woocommerce-page .related:after,
.woocommerce .upsells.products:after,
.woocommerce-page .upsells.products:after {
  clear: both;
}
.woocommerce .related ul.products,
.woocommerce-page .related ul.products,
.woocommerce .upsells.products ul.products,
.woocommerce-page .upsells.products ul.products,
.woocommerce .related ul,
.woocommerce-page .related ul,
.woocommerce .upsells.products ul,
.woocommerce-page .upsells.products ul {
  float: none;
}
.woocommerce .related ul.products li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce-page .upsells.products ul.products li.product,
.woocommerce .related ul li.product,
.woocommerce-page .related ul li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce-page .upsells.products ul li.product {
  width: 50%;
}
.woocommerce .related ul.products li.product img,
.woocommerce-page .related ul.products li.product img,
.woocommerce .upsells.products ul.products li.product img,
.woocommerce-page .upsells.products ul.products li.product img,
.woocommerce .related ul li.product img,
.woocommerce-page .related ul li.product img,
.woocommerce .upsells.products ul li.product img,
.woocommerce-page .upsells.products ul li.product img {
  width: 100%;
  height: auto;
}
.woocommerce ul.products,
.woocommerce-page ul.products {
  clear: both;
  *zoom: 1;
  display: block;
  margin: 0;
  padding: 10px 0 30px !important;
  list-style: none;
  overflow: hidden;
}
.woocommerce ul.products:before,
.woocommerce-page ul.products:before,
.woocommerce ul.products:after,
.woocommerce-page ul.products:after {
  content: " ";
  display: table;
}
.woocommerce ul.products:after,
.woocommerce-page ul.products:after {
  clear: both;
}
.woocommerce ul.products:before,
.woocommerce-page ul.products:before,
.woocommerce ul.products:after,
.woocommerce-page ul.products:after {
  content: " ";
  display: table;
}
.woocommerce ul.products:after,
.woocommerce-page ul.products:after {
  clear: both;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  float: left;
  margin: 0;
  padding: 0 8px 16px;
  position: relative;
  width: 24.90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.woocommerce ul.products li.product.one-column,
.woocommerce-page ul.products li.product.one-column,
.woocommerce ul.products li.product.one-column,
.woocommerce-page ul.products li.product.one-column {
  width: 100%;
}
.woocommerce ul.products li.product.two-column,
.woocommerce-page ul.products li.product.two-column {
  width: 49.8%;
}
.woocommerce ul.products li.product.three-column,
.woocommerce-page ul.products li.product.three-column {
  width: 33.2%;
}
.woocommerce ul.products li.product.four-column,
.woocommerce-page ul.products li.product.four-column {
  width: 24.9%;
}
@media handheld, only screen and (max-width: 1100px) {
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    max-width: none!important;
  }
  .woocommerce ul.products li.product.four-column,
  .woocommerce-page ul.products li.product.four-column {
    width: 33% !important;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .woocommerce ul.products li.product.four-column,
  .woocommerce-page ul.products li.product.four-column,
  .woocommerce ul.products li.product.three-column,
  .woocommerce-page ul.products li.product.three-column {
    width: 49% !important;
  }
}
@media handheld, only screen and (max-width: 600px) {
  .woocommerce ul.products li.product.four-column,
  .woocommerce-page ul.products li.product.four-column,
  .woocommerce ul.products li.product.three-column,
  .woocommerce-page ul.products li.product.three-column,
  .woocommerce ul.products li.product.two-column,
  .woocommerce-page ul.products li.product.two-column {
    width: 100% !important;
  }
}
.woocommerce ul.products li.product .added_to_cart,
.woocommerce-page ul.products li.product .added_to_cart {
  position: absolute;
  left: -9999em;
  width: 1px;
  visibility: hidden;
}
.woocommerce ul.products li.product .product-loading-icon,
.woocommerce-page ul.products li.product .product-loading-icon {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.woocommerce ul.products li.product.adding-to-cart:hover .product-loading-icon,
.woocommerce-page ul.products li.product.adding-to-cart:hover .product-loading-icon,
.woocommerce ul.products li.product.added-to-cart:hover .product-loading-icon,
.woocommerce-page ul.products li.product.added-to-cart:hover .product-loading-icon {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 100;
  -khtml-opacity: 100;
  opacity: 100;
  opacity: 1;
}
.woocommerce ul.products li.product.adding-to-cart .product-loading-icon:before,
.woocommerce-page ul.products li.product.adding-to-cart .product-loading-icon:before {
  -moz-animation: spin 0.8s infinite linear;
  -o-animation: spin 0.8s infinite linear;
  -webkit-animation: spin 0.8s infinite linear;
  animation: spin 0.8s infinite linear;
  display: block;
  content: "\e2a2";
}
.woocommerce ul.products li.product.added-to-cart .product-loading-icon:before,
.woocommerce-page ul.products li.product.added-to-cart .product-loading-icon:before {
  content: "\e26a";
}
.woocommerce ul.products li.product:hover .product-item-rating,
.woocommerce-page ul.products li.product:hover .product-item-rating {
  top: 0;
  left: 0;
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 100;
  -khtml-opacity: 100;
  opacity: 100;
  opacity: 1;
}
.woocommerce ul.products li.product:hover .add_to_cart_button,
.woocommerce-page ul.products li.product:hover .add_to_cart_button {
  bottom: 0;
  right: 0;
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 100;
  -khtml-opacity: 100;
  opacity: 100;
  opacity: 1;
}
.woocommerce .mk-product-holder,
.woocommerce-page .mk-product-holder {
  border: 1px solid #e3e3e3;
  padding: 0;
  background-color: #fff;
  position: relative;
}
.woocommerce .mk-product-holder .product-item-desc,
.woocommerce-page .mk-product-holder .product-item-desc {
  padding: 0 15px;
}
.woocommerce .mk-product-holder .product-item-desc ul,
.woocommerce-page .mk-product-holder .product-item-desc ul {
  margin-bottom: 15px;
}
.woocommerce .mk-product-holder .product-item-desc ul li,
.woocommerce-page .mk-product-holder .product-item-desc ul li {
  text-align: left;
}
.woocommerce .mk-product-holder .product-hover-image,
.woocommerce-page .mk-product-holder .product-hover-image {
  position: absolute;
  left: 0;
  top: 0;
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0 ease-out;
  -moz-transition: opacity 0.3s 0 ease-out;
  -ms-transition: opacity 0.3s 0 ease-out;
  -o-transition: opacity 0.3s 0 ease-out;
  transition: opacity 0.3s 0 ease-out;
  -webkit-perspective: 1000;
}
.woocommerce .mk-product-holder .product-loop-thumb,
.woocommerce-page .mk-product-holder .product-loop-thumb {
  position: relative;
}
.woocommerce .mk-product-holder .product-loop-thumb a,
.woocommerce-page .mk-product-holder .product-loop-thumb a {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 4px;
}
.woocommerce .mk-product-holder .product-loop-thumb a img,
.woocommerce-page .mk-product-holder .product-loop-thumb a img {
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  ms-backface-visibility: hidden;
}
.woocommerce .mk-product-holder .product-loop-thumb a:hover .product-hover-image,
.woocommerce-page .mk-product-holder .product-loop-thumb a:hover .product-hover-image {
  -webkit-transition: opacity 0.4s 0.4s ease-out;
  -moz-transition: opacity 0.4s 0.4s ease-out;
  -ms-transition: opacity 0.4s 0.4s ease-out;
  -o-transition: opacity 0.4s 0.4s ease-out;
  transition: opacity 0.4s 0.4s ease-out;
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 100;
  -khtml-opacity: 100;
  opacity: 100;
  opacity: 1;
}
.woocommerce .mk-product-holder h3,
.woocommerce-page .mk-product-holder h3 {
  font-size: 13px !important;
  line-height: 18px;
  padding: 15px 50px 0 15px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
.woocommerce .mk-product-holder h3 a,
.woocommerce-page .mk-product-holder h3 a {
  color: #5b5b5b !important;
}
.woocommerce .mk-product-holder .mk-shop-item-detail,
.woocommerce-page .mk-product-holder .mk-shop-item-detail {
  position: relative;
}
.woocommerce .mk-product-holder .mk-love-this,
.woocommerce-page .mk-product-holder .mk-love-this {
  position: absolute;
  right: 12px;
  top: 12px;
  text-align: center;
}
.woocommerce .mk-product-holder .mk-love-this span,
.woocommerce-page .mk-product-holder .mk-love-this span {
  font-size: 11px;
  line-height: 12px;
}
.woocommerce .mk-product-holder .mk-love-this i,
.woocommerce-page .mk-product-holder .mk-love-this i {
  font-size: 14px;
}
.woocommerce .mk-product-holder .mk-price,
.woocommerce-page .mk-product-holder .mk-price {
  display: block;
  padding: 0 15px 15px;
  font-weight: bold;
  font-size: 18px;
  color: #252525;
}
.woocommerce .mk-product-holder .mk-price .from,
.woocommerce-page .mk-product-holder .mk-price .from {
  color: #aaaaaa;
  font-size: 14px;
}
.woocommerce .mk-product-holder .mk-price ins,
.woocommerce-page .mk-product-holder .mk-price ins {
  border: none;
  text-decoration: none;
}
.woocommerce .mk-product-holder .mk-price del,
.woocommerce-page .mk-product-holder .mk-price del {
  font-size: 14px !important;
  color: #aaaaaa !important;
}
.woocommerce .mk-product-holder .star-rating,
.woocommerce-page .mk-product-holder .star-rating {
  display: block !important;
  float: none !important;
  margin: 0 auto 10px !important;
  color: #252525 !important;
}
.woocommerce .mk-product-holder .star-rating:before,
.woocommerce-page .mk-product-holder .star-rating:before {
  content: "\53\53\53\53\53" !important;
  color: #c2c2c2 !important;
  font-size: 12px !important;
}
.woocommerce .mk-product-holder .star-rating span:before,
.woocommerce-page .mk-product-holder .star-rating span:before {
  font-size: 12px !important;
}
.woocommerce .mk-product-holder .added_to_cart,
.woocommerce-page .mk-product-holder .added_to_cart {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  background-color: #333333;
  color: #fff;
}
.woocommerce .mk-product-holder .product-item-footer,
.woocommerce-page .mk-product-holder .product-item-footer {
  position: absolute;
  height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.woocommerce .mk-product-holder .product-item-footer,
.woocommerce-page .mk-product-holder .product-item-footer {
  position: absolute;
  height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.woocommerce .mk-product-holder .add_to_cart_button,
.woocommerce-page .mk-product-holder .add_to_cart_button {
  margin: 0;
  width: 60%;
  height: 50px;
  background-color: #252525;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  float: right;
  position: relative;
  bottom: -25px;
  right: -25px;
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.woocommerce .mk-product-holder .add_to_cart_button i,
.woocommerce-page .mk-product-holder .add_to_cart_button i {
  font-size: 16px;
  line-height: 50px;
  vertical-align: middle;
  padding-right: 8px;
}
.woocommerce .mk-product-holder .add_to_cart_button:hover,
.woocommerce-page .mk-product-holder .add_to_cart_button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.woocommerce .mk-product-holder .product-item-rating,
.woocommerce-page .mk-product-holder .product-item-rating {
  float: left;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  height: 50px;
  line-height: 50px;
  width: 40%;
  text-align: center;
  position: relative;
  left: -20px;
  top: 20px;
  opacity: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.woocommerce .mk-product-holder .product-item-rating .star-rating,
.woocommerce-page .mk-product-holder .product-item-rating .star-rating {
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 20px !important;
}
.woocommerce .mk-product-holder .product-item-rating .star-rating:before,
.woocommerce-page .mk-product-holder .product-item-rating .star-rating:before {
  color: #c2c2c2 !important;
}
.woocommerce .mk-product-holder .product-item-rating .star-rating span:before,
.woocommerce-page .mk-product-holder .product-item-rating .star-rating span:before {
  letter-spacing: 2px;
  color: #252525 !important;
}
.woocommerce .mk-product-holder .product-loading-icon,
.woocommerce-page .mk-product-holder .product-loading-icon {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -35px;
  text-align: center;
  opacity: 0;
}
.woocommerce .mk-product-holder .product-loading-icon:before,
.woocommerce-page .mk-product-holder .product-loading-icon:before {
  line-height: 70px;
  font-size: 24px;
  color: #fff;
}
.woocommerce .left-layout .products .product,
.woocommerce-page .left-layout .products .product,
.woocommerce .right-layout .products .product,
.woocommerce-page .right-layout .products .product {
  width: 33.3% !important;
}
@media handheld, only screen and (max-width: 1100px) {
  .woocommerce .left-layout .products .product,
  .woocommerce-page .left-layout .products .product,
  .woocommerce .right-layout .products .product,
  .woocommerce-page .right-layout .products .product {
    width: 33% !important;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .woocommerce .left-layout .products .product,
  .woocommerce-page .left-layout .products .product,
  .woocommerce .right-layout .products .product,
  .woocommerce-page .right-layout .products .product {
    width: 49% !important;
  }
}
@media handheld, only screen and (max-width: 600px) {
  .woocommerce .left-layout .products .product,
  .woocommerce-page .left-layout .products .product,
  .woocommerce .right-layout .products .product,
  .woocommerce-page .right-layout .products .product {
    width: 100% !important;
  }
}
.woocommerce .products.related,
.woocommerce-page .products.related {
  clear: left;
}
.woocommerce .products.related .products .product,
.woocommerce-page .products.related .products .product {
  opacity: 1;
}
@media handheld, only screen and (max-width: 650px) {
  .woocommerce .products.related .products .product,
  .woocommerce-page .products.related .products .product {
    width: 100% !important;
  }
}
.woocommerce.columns-1 ul.products li.product,
.woocommerce-page.columns-1 ul.products li.product {
  width: 100%;
  margin-right: 0;
}
.woocommerce.columns-2 ul.products li.product,
.woocommerce-page.columns-2 ul.products li.product {
  width: 49.9%;
}
@media handheld, only screen and (max-width: 600px) {
  .woocommerce.columns-2 ul.products li.product,
  .woocommerce-page.columns-2 ul.products li.product {
    width: 100% !important;
  }
}
.woocommerce.columns-3 ul.products li.product,
.woocommerce-page.columns-3 ul.products li.product {
  width: 33.2%;
}
@media handheld, only screen and (max-width: 767px) {
  .woocommerce.columns-3 ul.products li.product,
  .woocommerce-page.columns-3 ul.products li.product {
    width: 49% !important;
  }
}
@media handheld, only screen and (max-width: 600px) {
  .woocommerce.columns-3 ul.products li.product,
  .woocommerce-page.columns-3 ul.products li.product {
    width: 100% !important;
  }
}
.woocommerce.columns-4 ul.products li.product,
.woocommerce-page.columns-4 ul.products li.product {
  width: 24.9%;
}
@media handheld, only screen and (max-width: 960px) {
  .woocommerce.columns-4 ul.products li.product,
  .woocommerce-page.columns-4 ul.products li.product {
    width: 33% !important;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .woocommerce.columns-4 ul.products li.product,
  .woocommerce-page.columns-4 ul.products li.product {
    width: 49% !important;
  }
}
@media handheld, only screen and (max-width: 600px) {
  .woocommerce.columns-4 ul.products li.product,
  .woocommerce-page.columns-4 ul.products li.product {
    width: 100% !important;
  }
}
.woocommerce.columns-5 ul.products li.product,
.woocommerce-page.columns-5 ul.products li.product {
  width: 20%;
}
.woocommerce.columns-6 ul.products li.product,
.woocommerce-page.columns-6 ul.products li.product {
  width: 16.6%;
}
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
  float: left;
}
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
  float: right;
}
.woocommerce .woocommerce-pagination ul.page-numbers,
.woocommerce-page .woocommerce-pagination ul.page-numbers {
  *zoom: 1;
}
.woocommerce .woocommerce-pagination ul.page-numbers:before,
.woocommerce-page .woocommerce-pagination ul.page-numbers:before,
.woocommerce .woocommerce-pagination ul.page-numbers:after,
.woocommerce-page .woocommerce-pagination ul.page-numbers:after {
  content: " ";
  display: table;
}
.woocommerce .woocommerce-pagination ul.page-numbers:after,
.woocommerce-page .woocommerce-pagination ul.page-numbers:after {
  clear: both;
}
.woocommerce .woocommerce-pagination ul.page-numbers:before,
.woocommerce-page .woocommerce-pagination ul.page-numbers:before,
.woocommerce .woocommerce-pagination ul.page-numbers:after,
.woocommerce-page .woocommerce-pagination ul.page-numbers:after {
  content: " ";
  display: table;
}
.woocommerce .woocommerce-pagination ul.page-numbers:after,
.woocommerce-page .woocommerce-pagination ul.page-numbers:after {
  clear: both;
}
.woocommerce .woocommerce-pagination ul.page-numbers li,
.woocommerce-page .woocommerce-pagination ul.page-numbers li {
  display: inline;
}
.woocommerce table.cart img,
.woocommerce-page table.cart img,
.woocommerce #content table.cart img,
.woocommerce-page #content table.cart img {
  height: auto;
}
.woocommerce table.cart td.actions,
.woocommerce-page table.cart td.actions,
.woocommerce #content table.cart td.actions,
.woocommerce-page #content table.cart td.actions {
  text-align: right;
}
.woocommerce table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text,
.woocommerce #content table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text {
  width: 80px;
}
.woocommerce table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon,
.woocommerce #content table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon {
  float: left;
}
.woocommerce table.cart td.actions .coupon label,
.woocommerce-page table.cart td.actions .coupon label,
.woocommerce #content table.cart td.actions .coupon label,
.woocommerce-page #content table.cart td.actions .coupon label {
  display: none;
}
.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
  *zoom: 1;
  width: 100%;
}
.woocommerce .cart-collaterals:before,
.woocommerce-page .cart-collaterals:before,
.woocommerce .cart-collaterals:after,
.woocommerce-page .cart-collaterals:after {
  content: " ";
  display: table;
}
.woocommerce .cart-collaterals:after,
.woocommerce-page .cart-collaterals:after {
  clear: both;
}
.woocommerce .cart-collaterals:before,
.woocommerce-page .cart-collaterals:before,
.woocommerce .cart-collaterals:after,
.woocommerce-page .cart-collaterals:after {
  content: " ";
  display: table;
}
.woocommerce .cart-collaterals:after,
.woocommerce-page .cart-collaterals:after {
  clear: both;
}
.woocommerce .cart-collaterals .related,
.woocommerce-page .cart-collaterals .related {
  width: 30.75%;
  float: left;
}
.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells {
  width: 50%;
  float: left;
}
.woocommerce .cart-collaterals .cross-sells ul.products,
.woocommerce-page .cart-collaterals .cross-sells ul.products {
  float: none;
}
.woocommerce .cart-collaterals .cross-sells ul.products li,
.woocommerce-page .cart-collaterals .cross-sells ul.products li {
  width: 50%;
}
.woocommerce ul.cart_list li,
.woocommerce-page ul.cart_list li,
.woocommerce ul.product_list_widget li,
.woocommerce-page ul.product_list_widget li {
  *zoom: 1;
}
.woocommerce ul.cart_list li:before,
.woocommerce-page ul.cart_list li:before,
.woocommerce ul.product_list_widget li:before,
.woocommerce-page ul.product_list_widget li:before,
.woocommerce ul.cart_list li:after,
.woocommerce-page ul.cart_list li:after,
.woocommerce ul.product_list_widget li:after,
.woocommerce-page ul.product_list_widget li:after {
  content: " ";
  display: table;
}
.woocommerce ul.cart_list li:after,
.woocommerce-page ul.cart_list li:after,
.woocommerce ul.product_list_widget li:after,
.woocommerce-page ul.product_list_widget li:after {
  clear: both;
}
.woocommerce ul.cart_list li:before,
.woocommerce-page ul.cart_list li:before,
.woocommerce ul.product_list_widget li:before,
.woocommerce-page ul.product_list_widget li:before,
.woocommerce ul.cart_list li:after,
.woocommerce-page ul.cart_list li:after,
.woocommerce ul.product_list_widget li:after,
.woocommerce-page ul.product_list_widget li:after {
  content: " ";
  display: table;
}
.woocommerce ul.cart_list li:after,
.woocommerce-page ul.cart_list li:after,
.woocommerce ul.product_list_widget li:after,
.woocommerce-page ul.product_list_widget li:after {
  clear: both;
}
.woocommerce ul.cart_list li img,
.woocommerce-page ul.cart_list li img,
.woocommerce ul.product_list_widget li img,
.woocommerce-page ul.product_list_widget li img {
  float: right;
  height: auto;
}
.woocommerce form .form-row,
.woocommerce-page form .form-row {
  *zoom: 1;
}
.woocommerce form .form-row:before,
.woocommerce-page form .form-row:before,
.woocommerce form .form-row:after,
.woocommerce-page form .form-row:after {
  content: " ";
  display: table;
}
.woocommerce form .form-row:after,
.woocommerce-page form .form-row:after {
  clear: both;
}
.woocommerce form .form-row:before,
.woocommerce-page form .form-row:before,
.woocommerce form .form-row:after,
.woocommerce-page form .form-row:after {
  content: " ";
  display: table;
}
.woocommerce form .form-row:after,
.woocommerce-page form .form-row:after {
  clear: both;
}
.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
  display: block;
}
.woocommerce form .form-row label.checkbox,
.woocommerce-page form .form-row label.checkbox {
  display: inline;
}
.woocommerce form .form-row select,
.woocommerce-page form .form-row select {
  width: 100%;
}
.woocommerce form .form-row .input-text,
.woocommerce-page form .form-row .input-text {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 100%;
}
.woocommerce form .form-row-first,
.woocommerce-page form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last {
  float: left;
  width: 47%;
  overflow: visible;
}
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last {
  float: right;
}
.woocommerce form .form-row-wide,
.woocommerce-page form .form-row-wide {
  clear: both;
}
.woocommerce #payment .form-row select,
.woocommerce-page #payment .form-row select {
  width: auto;
}
.woocommerce #payment .terms,
.woocommerce-page #payment .terms {
  text-align: right;
  padding: 0 1em 0;
}
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  float: right;
}
.wc-proceed-to-checkout {
  text-align: right;
}
