/* SLIDER */
body.homepage {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
}
#slider {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
#slider .slide {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  display: block;
}
/* CONTENT */
#home {
  top: 20%;
  position: absolute;
  width: 100%;
}
