/*
    Created on  : 22 août 2016, 15:48:52
    Author      : MEO     
    Description : Media queries for responsive design
*/

@test-color: #ababab;

/* tablette */ 
@tablets: ~"only screen and (min-width : 737px) and (max-width : 1024px)";
/* tablette portrait */ 
@tablets-portrait: ~"only screen and (min-width : 737px) and (max-width : 1024px) and (orientation : portrait)";
/* tablette landscale */ 
@tablets-landscape: ~"only screen and (min-width : 737px) and (max-width : 1024px) and (orientation : landscape)";

/* mobile portrait */ 
@smartphones: ~"only screen and (min-width: 320px) and (max-width: 736px)";
/* mobile portrait */ 
@smartphones-portrait: ~"only screen and (min-width: 320px) and (max-width: 736px) and (orientation : portrait)";
/* mobile landscale */ 
@smartphones-landscape: ~"only screen and (min-width: 320px) and (max-width: 736px) and (orientation : landscape)";
