html body.page-template-blog #main-content section.blog-list > .list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
html body.page-template-blog #main-content section.blog-list > .list > article {
  width: 49%;
  margin-right: 1%;
  margin-left: 0;
  margin-bottom: 2.2rem;
  border-bottom: 1px solid #efefef;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  html body.page-template-blog #main-content section.blog-list > .list > article {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
}
html body.page-template-blog #main-content section.blog-list > .list > article:nth-child(2n) {
  margin-right: 0;
  margin-left: 1%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  html body.page-template-blog #main-content section.blog-list > .list > article:nth-child(2n) {
    margin-left: 0;
  }
}
html body.page-template-blog #main-content section.blog-list > .list > article > .featured-image {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html body.page-template-blog #main-content section.blog-list > .list > article > .featured-image > img {
  width: 100%;
  max-width: 100%;
}
html body.page-template-blog #main-content section.blog-list > .list > article h2 {
  line-height: 3em;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  html body.page-template-blog #main-content section.blog-list > .list > article h2 {
    text-align: center;
  }
}
html body.page-template-blog #main-content section.blog-list > .list > article .btn-blue {
  width: 130px;
  position: initial;
  margin-top: 30px;
  display: block;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  html body.page-template-blog #main-content section.blog-list > .list > article .btn-blue {
    margin-left: auto;
    margin-right: auto;
  }
}
html body.single-post .featured-image {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
html body.single-post .featured-image > img {
  width: 100%;
  max-width: 100%;
}
