<!doctype html>
<html class="no-js homepage" lang="{{ current_lang }}">
<head>

    <meta charset="{{charset}}" />

    <title>
        {% if title %}
            {{ title }} | {{ options.blogname }}
        {% else %}
            {{ options.blogname }}
        {% endif %}
    </title>

    <meta name="description" content="">

    <link rel="stylesheet" href="{{ template_path_uri }}/style.css" type="text/css" media="screen" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{template_path_uri}}/js/jquery-3.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="{{template_path_uri}}/js/homeslider.js" type="text/javascript"></script>

    {{function('wp_head')}}

</head>
<body>

    <div id="slider">
        {% for slide in sliders %}
            <div class="slide" style="background-image: url('{{ slide.background_image }}')">

            </div>
        {% endfor %}
    </div>

    <div id="home">

        <div>
            <img id="logo" src="{{ template_path_uri }}/images/marina_logo.png">
        </div>
        <div>
            <section>
                <h1>{{ title_homepage }}</h1>
                <nav>
                    <ul id="nav-content">

                    {% for menu in menus_homepage %}
                        {% set current_menu = (menu.object_id == post.id ) ? 'active' : '' %}
                        <li class="{{ current_menu }}">
                            <a href="{{ menu.url }}">
                                {{ menu.title }}
                            </a>
                        </li>
                    {% endfor %}

                    </ul>
                </nav>
            </section>
        </div>
    </div>
    <script src="{{template_path_uri}}/js/minified-menu.js" type="text/javascript"></script>
</body>
</html>
