{% extends 'base.twig' %}

{% block content %}
    <div class="wrapper">
        {{ content }}
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.fancybox').fancybox({
                width: 400
            });
        });
    </script>
{% endblock %}