/* Text */
.center {text-align:center;}
.fa {
	color: #337ab7;
}
.warning-text,
.warning-text i,
.warning-text a,
.warning-text span,
.warning-text p {
	color:#d23636 !important;
}

/* Divs */
.clear {clear:both;}

/* Form */
.warningField {
	border: 2px solid #D23636;
}
option:disabled {
    background: rgb(255, 147, 147) none repeat scroll 0 0;
    color: #ececec;
}
/* General */
main > .wrap {
  margin-bottom: 10px;
}

.redband {
  background-color: #d23636;
  color: #ffffff;
  display: block;
  padding: 10px;
  width: 100%;
  clear:both;
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 15px;
}
	.redband select, 
	.redband input {
	    background-color: #d23636 !important;
	    border: 1px solid #fff !important;
	    color: #fff !important;
	    display: inline-block;
	    height: 30px;
	}
	.redband input[type="submit"]:hover {
	    background-color: #fff !important;
	    color: #d23636 !important;
	}
.cursor-hand {
	cursor: pointer;
}
/* Table */
.td-icon {
	width:17px;
}
/* Override */
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  z-index: 100000 !important;
}
