/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 mai 2016, 10:04:58
    Author     : MEO
*/
body
{
    background-color: #f1f1f1 !important;
}
.w10
{
    width: 10%;
}
.w20
{
    width: 20%;
}
.w30
{
    width: 30%;
}
.w40
{
    width: 40%;
}
.w50
{
    width: 50%;
}
.w60
{
    width: 60%;
}
.w70
{
    width: 70%;
}
.w80
{
    width: 80%;
}
.w100
{
    width: 100%;
}
.mt30px
{
    margin-top: 30px;
}

/* Width cell table */
table tr .w30px
{
    max-width: 30px;
    width: 30px;
}
table tr .w50px
{
    max-width: 50px;
    width: 50px;
}
table tr .w70px
{
    max-width: 70px;
    width: 70px;
}

/* General class table */
table tr .center-text
{
    text-align: center;
}

table tr .mr5px
{
    margin: 0 5px 0 0 !important;
}

table tr .ml5px
{
    margin: 0 0 0 5px !important;
}

/* Element class */
table tr td .meo-crm-list-checkbox
{
    margin-left: 11px;
}

/* Color icon cell */
table tr td i.green
{
    color: green;
}
table tr td i.red
{
    color: red;
}